{% macro big_number(number, label, link=None, currency='', smaller=False, smallest=False) %}
  {% if link %}
    <a class="usa-link display-flex" href="{{ link }}">
  {% endif %}
      <span class="big-number{% if smaller %}-smaller{% endif %}{% if smallest %}-smallest{% endif %}">
        <span class="big-number-number">
          {% if number is number %}
            {% if currency %}
              {{ "{}{:,.2f}".format(currency, number) }}
            {% else %}
              {{ "{:,}".format(number) }}
            {% endif %}
          {% else %}
            {{ number }}
          {% endif %}
        </span>
        {% if label %}
          <span class="big-number-label">{{ label }}</span>
        {% endif %}
      </span>
  {% if link %}
    </a>
  {% endif %}
{% endmacro %}
