{% if current_user.is_authenticated %}
{% set navigation = [
  {"href": url_for("main.show_accounts_or_dashboard"), "text": "Current service", "active": header_navigation.is_selected('accounts-or-dashboard')},
  {"href": url_for('main.get_started'), "text": "Using Notify", "active": header_navigation.is_selected('using_notify')}
] %}

{% if FEATURE_BEST_PRACTICES_ENABLED %}
{% set navigation = navigation + [{"href": url_for('main.best_practices'), "text": "Guides", "active": header_navigation.is_selected('best_practices')}] %}
{% endif %}

{% set navigation = navigation + [
  {"href": url_for('main.features'), "text": "Features", "active": header_navigation.is_selected('features')},
  {"href": url_for('main.support'), "text": "Contact us", "active": header_navigation.is_selected('support')}
] %}

{% if current_user.platform_admin %}
{% set navigation = navigation + [{"href": url_for('main.platform_admin_splash_page'), "text": "Platform admin", "active": header_navigation.is_selected('platform-admin')}] %}
{% else %}
{% set navigation = navigation + [{"href": url_for('main.user_profile'), "text": "User profile", "active": header_navigation.is_selected('user-profile')}] %}
{% endif %}

{% if current_service %}
{% if current_user.has_permissions('manage_service') %}
{% set secondaryNavigation = [
  {"href": url_for('main.service_settings', service_id=current_service.id), "text": "Settings", "active": secondary_navigation.is_selected('settings')},
  {"href": url_for('main.sign_out'), "text": "Sign out"}
] %}
{% else %}
{% set secondaryNavigation = [
  {"href": url_for('main.sign_out'), "text": "Sign out"}
] %}
{% endif %}
{% else %}
{% set secondaryNavigation = [{"href": url_for('main.sign_out'), "text": "Sign out"}] %}
{% endif %}

{% else %}
{% set navigation = [] %}

{% if FEATURE_ABOUT_PAGE_ENABLED %}
{% set navigation = navigation + [{"href": url_for('main.about_notify'), "text": "About Notify", "active": request.path == '/about'}] %}
{% endif %}
{% endif %}


<header class="usa-header usa-header--extended">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="display-flex flex-align-center flex-justify">
        <div class="usa-logo display-flex flex-align-center flex-justify" id="-logo">
          <div class="logo-img display-flex">
            <a href="/">
              <span class="usa-sr-only">Notify.gov logo</span>
              <img src="{{ (asset_path | default('/static')) + 'images/notify-logo.svg' }}" alt="Notify.gov logo"
                class="usa-flag-logo margin-right-1">
            </a>
          </div>
          {% if navigation %}
          <button type="button" class="usa-menu-btn">Menu</button>
          {% endif %}
        </div>
        {% if not current_user.is_authenticated and FEATURE_ABOUT_PAGE_ENABLED and request.path == '/about'%}
        <div class="usa-nav__login">
          <a class="usa-button usa-button login-button login-button--primary margin-right-2"
            href="{{ initial_signin_url }}">Sign
            in with <img src="{{ asset_url('images/logo-login.svg') }}" alt="Login.gov logo">
          </a>
        </div>
        {% endif %}
      </div>

    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <div class="usa-nav__inner">
        <button type="button" class="usa-nav__close">
          <img src="{{ asset_url('img/usa-icons/close.svg') }}" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion margin-right-1">
          {% for item in navigation %}
          {% if item.href and item.text %}
          <li class="usa-nav__primary-item{{ ' is-current' if item.active }}">
            <a class="usa-nav__link {{ ' usa-current' if item.active }}" href="{{ item.href }}" {% for attribute, value
              in item.attributes %} {{attribute}}="{{value}}" {% endfor %}>
              <span>{{ item.text }}</span>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        <div class="usa-nav__secondary margin-bottom-6">
          <ul class="usa-nav__secondary-links">
            {% if secondaryNavigation %}
            {% for item in secondaryNavigation %}
            {% if item.href and item.text %}
            <li class="usa-nav__secondary-item{{ ' is-current' if item.active }}">
              <a class="usa-nav__link {{ ' usa-current' if item.active }}" href="{{ item.href }}" {% for attribute,
                value in item.attributes %} {{attribute}}="{{value}}" {% endfor %}>
                <span>{{ item.text }}</span>
              </a>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
          </ul>
        </div>

      </div>
    </nav>
  </div>
</header>
