{% set is_about_page = request.path.startswith('/about') %}
{% set is_join_notify_page = request.path.startswith('/join-notify') %}
{% set is_contact_page = request.path.startswith('/contact') %}
{% set is_information_section = is_about_page or is_join_notify_page or is_contact_page %}

{% if current_user.is_authenticated %}
{% set navigation = [
  {"href": url_for("main.show_accounts_or_dashboard"), "text": "Current service", "active": request.path.startswith('/accounts')},
  {"href": url_for('main.get_started'), "text": "Using Notify", "active": request.path.startswith('/using-notify')},
  {"href": url_for('main.support'), "text": "Contact us", "active": header_navigation.is_selected('support')}
] %}

{% if current_user.platform_admin %}
{% set navigation = navigation + [{"href": url_for('main.platform_admin_splash_page'), "text": "Platform admin", "active": header_navigation.is_selected('platform-admin')}] %}
{% else %}
{% set navigation = navigation + [{"href": url_for('main.user_profile'), "text": "User profile", "active": header_navigation.is_selected('user-profile')}] %}
{% endif %}

{% if current_service %}
{% if current_user.has_permissions('manage_service') %}
{% set secondaryNavigation = [
  {"href": url_for('main.service_settings', service_id=current_service.id), "text": "Settings", "active": secondary_navigation.is_selected('settings')},
  {"href": url_for('main.sign_out'), "text": "Sign out"}
] %}
{% else %}
{% set secondaryNavigation = [
  {"href": url_for('main.sign_out'), "text": "Sign out"}
] %}
{% endif %}
{% else %}
{% set secondaryNavigation = [{"href": url_for('main.sign_out'), "text": "Sign out"}] %}
{% endif %}

{% else %}
{% set navigation = [
  {"href": url_for('main.about_notify'), "text": "About Notify", "active": is_about_page},
  {"href": url_for('main.join_notify'), "text": "Join Notify", "active": is_join_notify_page},
  {"href": url_for('main.contact'), "text": "Contact us", "active": is_contact_page}
] %}
{% endif %}

<header class="usa-header usa-header--extended">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="display-flex flex-align-center flex-justify width-full">
        <div class="usa-logo display-flex flex-align-center flex-justify" id="-logo">
          <div class="logo-img display-flex">
            <a href="/">
              <span class="usa-sr-only">Notify.gov logo</span>
              <img src="{{ (asset_path | default('/static')) + 'images/notify-logo.svg' }}" alt=""
                class="usa-flag-logo margin-right-1">
            </a>
          </div>
          {% if navigation %}
          <button type="button" class="usa-menu-btn">Menu</button>
          {% endif %}
        </div>
      </div>

    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <div class="usa-nav__inner">
        <button type="button" class="usa-nav__close">
          <img src="{{ asset_url('img/usa-icons/close.svg') }}" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion margin-right-1">
          {% for item in navigation %}
          {% if item.href and item.text %}
          <li class="usa-nav__primary-item{{ ' is-current' if item.active }}">
            <a class="usa-nav__link {{ ' usa-current' if item.active }}" href="{{ item.href }}" {% for attribute, value
              in item.attributes %} {{attribute}}="{{value}}" {% endfor %}>
              <span>{{ item.text }}</span>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        {% if not current_user.is_authenticated %}
        <div class="usa-nav__secondary margin-bottom-2">
        {% else %}
        <div class="usa-nav__secondary margin-bottom-6">
        {% endif %}
          <ul class="usa-nav__secondary-links">
            {% if secondaryNavigation %}
            {% for item in secondaryNavigation %}
            {% if item.href and item.text %}
            <li class="usa-nav__secondary-item{{ ' is-current' if item.active }}">
              <a class="usa-nav__link {{ ' usa-current' if item.active }}" href="{{ item.href }}" {% for attribute,
                value in item.attributes %} {{attribute}}="{{value}}" {% endfor %}>
                <span>{{ item.text }}</span>
              </a>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
          </ul>
          {% if not current_user.is_authenticated %}
          <div class="usa-nav__login display-flex flex-align-center">
            <span class="margin-right-2 display-none desktop:display-block">
              If you are an existing partner
            </span>
            <a class="usa-button login-button login-button--primary desktop:padding-2 padding-1"
              href="{{ initial_signin_url }}">Sign
              in with <img src="{{ asset_url('images/logo-login.svg') }}" alt="Login.gov logo">
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
  </div>
</header>
