<nav class="navigation-service usa-breadcrumb">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <span class="usa-breadcrumb__label"><a href="{{ url_for('.organizations') }}" class="usa-link navigation-organization-link">Organizations:</a></span>
      </li>
      <li class="usa-breadcrumb__list-item">
        <span class="usa-breadcrumb__label">{{ current_org.name }}</span>
      </li>
      <a href="{{ url_for('main.choose_account') }}" class="usa-link navigation-service" title="Switch Service Link">Switch service</a>
    </ol>
  </nav>
