{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/components/back-link/macro.njk" import usaBackLink %}
{% from "components/pill.html" import pill %}

{% block service_page_title %}
  {{ "Message status" }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header("Message status") }}
    {% if not job.finished_processing %}
      <p class="max-width-full">Status updates automatically while processing. Refresh the page if needed.</p>
    {% endif %}
    <div data-job-id="{{ job.id }}" data-job-finished="{{ 'true' if job.finished_processing else 'false' }}" data-host="{{ api_public_url }}">
      <div class='tabs ajax-block-container' data-key="counts">
        {{ pill(counts, status, {'smaller': True}) }}
      </div>

    <p class="notification-status max-width-full">
      Messages are sent immediately to the cell phone carrier, but will remain in "pending" status until we hear back from the carrier they have received it and attempted deliver. More information on <a class="usa-link" href="{{ url_for('main.message_status') }}">delivery status</a>.
    </p>

    <div data-key="notifications">
      {% if job.finished_processing and notifications is not none %}
        {% include "partials/jobs/notifications.html" %}
      {% endif %}
    </div>
  </div>

{% endblock %}
