{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner %}
{% from "components/ajax-block.html" import ajax_block %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  {{ job.original_file_name }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header(job.original_file_name) }}

    {{ ajax_block(partials, updates_url, 'status', finished=job.processing_finished) }}
    {{ ajax_block(partials, updates_url, 'counts', finished=job.processing_finished) }}
    {{ ajax_block(partials, updates_url, 'notifications', finished=job.processing_finished) }}

    <div>&nbsp;</div>

{% endblock %}
