{% from "components/previous-next-navigation.html" import previous_next_navigation %}
{% extends "withnav_template.html" %}
{% from "components/components/button/macro.njk" import usaButton %}

{% block service_page_title %}
  Uploads
{% endblock %}

{% block maincolumn_content %}
    <h1 class="font-body-2xl">Uploads</h1>
    <div class="dashboard">
      {% if jobs %}
        {% include 'views/dashboard/_jobs.html' %}
      {% else %}
        <p>
          You have not uploaded any files recently.
        </p>
      {% endif %}
      {{ previous_next_navigation(prev_page, next_page) }}
    </div>
{% endblock %}
