{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="grid-col-8">

    {{ page_header('About your service') }}

    {% call form_wrapper() %}

      {{ form.name(param_extensions={"hint": {"text": "You can change this later"}}) }}

      <!--See add_service.py  the default_organization_type is not currently useful for Notify.gov
          and here it is causing an issue where services can't be created -->
      <!--{% if not default_organization_type %}-->
        {{ form.organization_type }}
      <!--{% endif %}-->

      {{ page_footer('Add service') }}

    {% endcall %}

  </div>
</div>

{% endblock %}
