{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% extends "withoutnav_template.html" %}

{% block per_page_title %}
  Integration testing
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="grid-col-8">
    <h1 class="font-body-2xl margin-bottom-3">Integration testing</h1>

    <p>This information has moved.</p>

    <p>
      Refer to the <a class="usa-link " href="{{ url_for('main.documentation') }}">documentation
      for the client library you are using.
    </p>

  </div>
</div>

{% endblock %}
