{% extends "base.html" %}
{% from "components/table.html" import mapping_table, row, text_field %}

{% block per_page_title %}
  Delivery status
{% endblock %}

{% block content_column_content %}

  <h1 class="font-body-2xl margin-bottom-3">Delivery status</h1>

  <p>Notify starts sending your text messages immediately. Each message is sent to its cell phone carrier, which attempts
  delivery to the recipient. This process is often almost instantaneous, but can sometimes take a while if a phone is
  unavailable. The carrier will continue to try to deliver the message for up to 72 hours.</p>
  <p>The Notify dashboard provides a high-level view of the number of messages Sent, Pending, Delivered, and Failed. The
  dashboard data starts to update about five minutes after a message is sent and will continue to update for four hours.</p>
  <p>Delivery statuses reflect delivery to a specific <em>cell phone number</em>, not to a <em>person</em>. No status can confirm that a
  specific person actually received or read the message.</p>

  <!-- <p>If you’re using the Notify API, read our <a class="usa-link" href="{{ url_for('.documentation') }}">documentation</a> for a list of API statuses.<p>

  <h2 id="email-statuses" class="heading-medium">Emails</h2>
  <div class="bottom-gutter-3-2">
    {% call mapping_table(
      caption='Message statuses – emails',
      field_headings=['Status', 'Description'],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for message_status, description in [
        ('Sending', 'Notify has sent the message to the provider. The provider will try to deliver the message to the recipient for up to 72 hours. Notify is waiting for delivery information.'),
        ('Delivered', 'The message was successfully delivered. Notify cannot tell you if a user has opened or read a message.'),
        ('Email address does not exist', 'The provider could not deliver the message because the email address was wrong. You should remove these email addresses from your database.'),
        ('Inbox not accepting messages right now', 'The provider could not deliver the message. This can happen when the recipient’s inbox is full or their anti-spam filter rejects your email. <a class="usa-link" href="https://www.gov.uk/service-manual/design/sending-emails-and-text-messages#protect-your-users-from-spam-and-phishing">Check your content does not look like spam</a> before you try to send the message again.' | safe),
        ('Technical failure', 'Your message was not sent because there was a problem between Notify and the provider. You’ll have to try sending your messages again.'),
      ] %}
        {% call row() %}
          {{ text_field(message_status) }}
          {{ text_field(description) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

  <h3 id="spam" class="heading-small">Spam</h3>
  <p>If an email is marked as spam, Notify receives a ‘complaint’ from the email provider. We’ll contact you if we receive a complaint about any of your emails. When this happens you should remove the recipient’s email address from your list.</p>

  <h3 id="open-rates" class="heading-small">Open rates and click-throughs</h3>
  <p>Notify cannot tell you if your users open an email or click on the links in an email. We do not track open rates and click-throughs because there are privacy issues. Tracking emails without asking permission from users could breach General Data Protection Regulations (GDPR).</p> -->

  <h2 id="text-message-statuses" class="heading-medium">Text messages</h2>
  <div class="margin-bottom-8 overflow-x-auto">
    {% call mapping_table(
      caption='Message statuses – text messages',
      field_headings=['Status', 'Description'],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for message_status, description in [
        ('Scheduled', 'The total number of messages that have been scheduled to be sent at some future time.'),
        ('Canceled', 'Messages that were created and scheduled, but canceled prior to Sending.'),
        ('Total', 'The total number of messages that have been sent during the specified time.'),
        ('Pending', 'Notify has sent the message to the provider. The provider will try to deliver the message to the recipient for up to 72
        hours. “Pending” indicates that Notify is waiting for delivery information.'),
        ('Delivered', 'The message was successfully delivered. Notify cannot tell you if a user has opened or read a message.'),
        ('Failed', 'The message could not be delivered.'),
        ('Process error / Delivery not attempted', 'If you receive a large number of process errors, please contact the Notify team.'),
        ] %}
        {% call row() %}
          {{ text_field(message_status) }}
          {{ text_field(description) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>
  <h2 class="heading-medium">About carrier statuses</h2>
  <p>Sometimes Notify receives more detailed information from the carriers on the status of messages, and these can be found
  in the downloadable reports. Not all carriers provide the same level of detail regarding delivery and some delivery
  statutes have a slight variation in word choice. Notify includes this information in the reports to provide you as much
  detail as possible. Remember, for <a class="usa-link" href="/features/security">security</a> purposes, detailed information is only available for seven days after a
  message has been sent.</p>

  <h2 class="heading-medium">Opting out</h2>
  <p>A text recipient can opt out of receiving text messages from your phone number at any time by responding “STOP” or
  “QUIT” or <a class="usa-link" href="https://docs.aws.amazon.com/pinpoint/latest/userguide/channels-sms-limitations-opt-out.html#settings-sms-self-opt-out-terms">one of several other keywords</a>. If they opt out,</p>
  <ul>
    <li>They may receive a response from their carrier stating that they will no longer receive text messages from that number.</li>
    <li>Any subsequent messages sent to that number will not be delivered (unless the recipient opts back in by texting “START”
    or “OPT-IN”).</li>
  </ul>
  <p>Notify.gov does not yet have a way to pull opt-out status and make it available in the UI for agencies to download.</p>

{% endblock %}
