{% extends "base.html" %}

{% set page_title = "Notify.gov Service Ending" %}

{% block per_page_title %}{{page_title}}{% endblock %}

{% block content_column_content %}

<section class="usa-prose">
  <h1>{{page_title}}</h1>
  <p>GSA will no longer offer the Notify.gov service after June 8th, 2025. Current partners will continue to have service access until it is fully suspended. After May 30, partners will no longer be able to send messages, and the full service will be suspended by June 8, 2025.
  </p>
  <h2>Notify.gov Status Announcement</h2>
  <p class="text-italic">Notify.gov was in beta and will no longer be offered by GSA. Operations will be suspended on or before June 8. There is a chance that the service may need to stop sooner. GSA will keep partners informed to the extent possible.</p>

  <p class="text-italic">All Notify.gov partners will be moved to trial mode no later than May 30, and will no longer be able to send messages. Partners will be able to access their templates and data through June 8.</p>

  <p class="text-italic">We encourage government programs to explore ways to continue utilizing technology to meet people where they are. There are several commercial tools on the market that may work for Notify.gov use cases.</p>

  <p class="text-italic">GSA is working to avoid potential disruptions to partners’ operations and ensure a smooth transition.</p>

  <p class="text-italic">This decision is part of GSA’s renewed focus on its original mission: to be the backbone of the federal government’s administrative operations — streamlining processes, optimizing resources, and ensuring cost-effectiveness. GSA is driven to reducing federal spend, contributing to a more flexible and streamlined government, and delivering value for the American people.</p>

  <p class="text-italic">We wish you all the best as you continue your work. </p>


</section>
{% endblock %}
