{% extends "withoutnav_template.html" %}
{% from "components/content-metadata.html" import content_metadata %}

{% block per_page_title %}
  Privacy notice: how we use your data
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="grid-col-8">
    <h1 class="font-body-2xl margin-bottom-3">Privacy notice: how we use your data</h1>

    {{ content_metadata(
      data={
        "Last updated": "May 3, 2023"
      }
    ) }}

    <h2 class="font-body-lg" id="who-we-are">Who we are</h2>

    <p>Notify.gov is a service that lets public service teams in the United States send text messages
      to users of their service.</p>

    <p>Notify.gov is provided by the TTS Public Benefits Studio, which is part of the General Services Administration (GSA).</p>

    <h2 class="font-body-lg" id="what-data-we-collect-from-you">What data we collect from you</h2>

    <p>The personal data we collect from public sector employees that create a Notify.gov account includes:</p>

    <ul class="list list-bullet">
        <li>your name</li>
        <li>your email address</li>
        <li>your mobile phone number</li>
    </ul>

    <h2 class="font-body-lg" id="why-we-need-your-data">Why we need your data</h2>

    <p>We need your personal data to ensure that only legitimate users of Notify.gov can use it to send notifications.</p>

    <h2 class="font-body-lg" id="what-we-do-with-your-data">What we do with your data</h2>

    <p>We use your data to check that you are allowed to access Notify.gov and to record your activity when using it. We use third party suppliers to do this.</p>

    <p>We will not:</p>

    <ul class="list list-bullet">
        <li>sell or rent your data to third parties</li>
        <li>share your data with third parties for marketing purposes</li>
    </ul>

    <p>We will share your data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>

    <h2 class="font-body-lg" id="how-long-we-keep-your-data">How long we keep your data</h2>

    <p>We will retain your personal data for as long as you have a Notify.gov account.</p>

    <h2 class="font-body-lg" id="where-your-data-is-processed">Where your data is processed and stored</h2>

    <p>We design, build and run our systems to make sure that your data is as safe as possible at any stage, both while it’s
      processed and when it’s stored.</p>

    <!-- <p>Your personal data will be processed both in the UK and the European Economic Area (EEA). Your data receives the same level of protection in the EEA as it does in the UK through the safeguard of <a class="usa-link " href="https://ico.org.uk/for-organizations/dp-at-the-end-of-the-transition-period/data-protection-and-the-eu-in-detail/adequacy/">Adequacy Decisions</a>.</p> -->
   
    <h2 class="font-body-lg" id="how-we-protect-your-data">How we protect your data and keep it secure</h2>

    <p>We are committed to doing all that we can to keep your data secure. To prevent unauthorized access or disclosure we have put in place technical and organizational procedures to secure the data we collect about you – for example, we protect your
    data using varying levels of encryption. We also make sure that any third parties that we deal with have an obligation to
    keep all personal data they process on our behalf secure.</p>

    <!-- <h2 class="font-body-lg" id="childrens-privacy-protection">Children’s privacy protection</h2>

    <p>We understand the importance of protecting children’s privacy online. Our services are not designed for, or intentionally targeted at, children 13 years of age or younger. It is not our policy to intentionally collect or maintain data about anyone under the age of 13.</p> 

    <h2 class="font-body-lg" id="your-rights">What are your rights</h2>

    <p>You have the right to request:</p>

    <ul class="list list-bullet">
      <li>information about how your personal data is processed</li>
      <li>a copy of that personal data - this copy will be provided in a structured, commonly used and machine-readable format</li>
      <li>that anything inaccurate in your personal data is corrected immediately</li>
    </ul>

    <p>You can also:</p>

    <ul class="list list-bullet">
      <li>raise an objection about how your personal data is processed</li>
      <li>request that your personal data is erased if there is no longer a justification for it</li>
      <li>ask that the processing of your personal data is restricted in certain circumstances</li>
    </ul>

    <p>If you have any of these requests, get in contact with our Data Protection Officer - you can find their contact details below.</p> -->

    <h2 class="font-body-lg">Cookies</h1>
    <p class="summary">
        Cookies are small files saved on your phone, tablet or computer when you visit a website.
    </p>
    <p>We use cookies to make Notify.gov work and collect information about how you use our service.</p>

    <h3 class="font-body-lg" id="essential-cookies">Essential cookies</h2>
    <p>
      Essential cookies keep your information secure while you use Notify. We do not need to ask permission to use them.
    </p>
    <table>
        <caption class="usa-sr-only">Essential cookies</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Expires</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                  notify_admin_session
                </td>
                <td width="50%">
                  Used to keep you signed in
                </td>
                <td>
                  20 hours
                </td>
            </tr>
            <tr>
                <td>
                  cookie_policy
                </td>
                <td width="50%">
                  Saves your cookie consent settings
                </td>
                <td>
                  1 year
                </td>
            </tr>
        </tbody>
    </table>

    <h3 class="font-body-lg" id="analytics-cookies">Analytics cookies</h2>
    <p>
      We also use Google Analytics to collect data about how you use Notify. This information helps us to improve our service.
    </p>
    <p>
      Google is not allowed to use or share our analytics data with anyone.
    </p>
    <p>
      Google Analytics stores anonymised information about:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how you got to Notify.gov</li>
      <li>the pages you visit on Notify and how long you spend on them</li>
      <li>any errors you see while using Notify</li>
    </ul>
    <table>
        <caption class="usa-sr-only">Google Analytics cookies</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Expires</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                  _ga
                </td>
                <td width="50%">
                  Checks if you’ve visited Notify before. This helps us count how many people visit our site.
                </td>
                <td>
                  2 years
                </td>
            </tr>
            <tr>
                <td>
                  _gid
                </td>
                <td width="50%">
                  Checks if you’ve visited Notify before. This helps us count how many people visit our site.
                </td>
                <td>
                  24 hours
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="font-body-lg" id="changes-to-this-notice">Changes to this notice</h2>

    <p>We may modify or amend this privacy notice at our discretion at any time. When we make changes to this notice, we will amend the last modified date at the top of this page. Any modification or amendment to this privacy notice will be applied
    to you and your data as of that revision date. We encourage you to periodically review this privacy notice to be informed
    about how we are protecting your data.</p>

    <h2 class="font-body-lg" id="questions-and-complaints">Questions and complaints</h2>

    <p>Contact the <a class="usa-link " href="{{ url_for('main.support') }}">TTS Public Benefits Studio</a> if you either:</p>

   <ul class="list list-bullet">
      <li>have questions about anything in this document</li>
      <li>think that your personal data has been misused or mishandled</li>
    </ul>


  </div>
</div>

{% endblock %}
