{% extends "base.html" %} {% from "components/components/button/macro.njk"
import usaButton %} {% block meta %}
<meta
  name="description"
  content="Notify.gov lets you send text messages to your users. Try it now if you work in federal, state, or local government."
/>
{% endblock %}
{% block pageTitle %} Notify.gov
  {% if is_api_down %} - There's currently a technical issue {% endif %}
{% endblock %}
{% block main %}
{% block beforeContent %}{% endblock %}

<main id="main-content" role="main">
  {% block content %}
    {% if is_api_down %}
      {% include "error/technical_difficulties.html" %}
    {% else %}
      <section class="usa-section--dark usa-hero usa-prose" aria-label="Introduction">
        <div class="grid-container">
          <div class="grid-row">
            <div class="text-center grid-col-12 padding-y-4">
              <h1 class="font-sans-2xl usa-hero__heading margin-bottom-2">
                Sunsetting Notify.gov
              </h1>
              <p class="font-sans-lg margin-0">
                As of May 30, 2025, this service is no longer available.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section
        class="grid-container usa-section usa-section__home border-top border-base-lighter usa-prose padding-bottom-4"
      >
        <div class="grid-row flex-justify-center">
          <div class="grid-col-8">
            <h2 class="text-center font-body-xl margin-top-0 margin-bottom-3">
              Serving the public
            </h2>
            <p class="text-center usa-body">
              The Notify.gov text messaging application helped federal, state, local, tribal and territorial governments more effectively communicate with the people they serve.
            </p>
            <p class="text-center usa-body margin-bottom-4">
              From November 2023 to May 2025, Notify.gov partners sent more than 400,000 messages:
            </p>
          </div>
        </div>

        <div class="grid-row flex-justify-center">
          <div class="grid-col-9">
            <div class="grid-row grid-gap-4">
              <div class="tablet:grid-col-6 margin-bottom-3">
                <div class="display-flex flex-align-center">




                <img
                  src="{{ asset_url('images/icon-health-insurance.svg') }}"
                  alt="Health insurance icon"
                  width="80"
                  height="80"
                  class="flex-none margin-right-2"
                />                  <p class="margin-0">Helping people maintain access to health insurance</p>
                </div>
              </div>
              <div class="tablet:grid-col-6 margin-bottom-3">
                <div class="display-flex flex-align-center">
                <img
                  src="{{ asset_url('images/icon-snap-benefits.svg') }}"
                  alt="SNAP benefits icon"
                  width="80"
                  height="80"
                  class="flex-none margin-right-2"
                />
                <p class="margin-0">Protecting SNAP benefits from fraud</p>
                </div>
              </div>
              <div class="tablet:grid-col-6 margin-bottom-3">
                <div class="display-flex flex-align-center">
                  <img
                    src="{{ asset_url('images/icon-waiting-times.svg') }}"
                    alt="Clock icon"
                    width="80"
                    height="80"
                    class="flex-none margin-right-2"
                  />
                  <p class="margin-0">Reducing the amount of time people spent waiting in line at government offices</p>
                </div>
              </div>
              <div class="tablet:grid-col-6 margin-bottom-3">
                <div class="display-flex flex-align-center">
                  <img
                    src="{{ asset_url('images/icon-parent-resources.svg') }}"
                    alt="Mobile alert icon"
                    width="80"
                    height="80"
                    class="flex-none margin-right-2"
                  />
                  <p class="margin-0">Alerting parents about resources available for their children</p>
                </div>
              </div>
              <div class="tablet:grid-col-6 margin-bottom-3">
                <div class="display-flex flex-align-center">
                  <img
                    src="{{ asset_url('images/icon-passport-processing.svg') }}"
                    alt="Speedometer icon"
                    width="80"
                    height="80"
                    class="flex-none margin-right-2"
                  />
                  <p class="margin-0">Speeding up passport processing</p>
                </div>
              </div>
              <div class="tablet:grid-col-6 margin-bottom-3">
                <div class="display-flex flex-align-center">
                  <img
                    src="{{ asset_url('images/icon-disaster-feedback.svg') }}"
                    alt="Feedback icon"
                    width="80"
                    height="80"
                    class="flex-none margin-right-2"
                  />
                  <p class="margin-0">Giving residents opportunity to provide feedback on disaster response and recovery</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-gray-cool usa-section usa-prose" aria-label="Introduction">
        <div class="grid-container padding-y-4">
          <div class="grid-row grid-gap display-flex flex-align-center">
            <div class="desktop:grid-col-8 tablet:grid-col-12">
              <h2 class="font-body-xl">
                Text messaging reaches people
              </h2>
              <p class="usa-body">
                Texting is one of the most effective ways to reach people. Though Notify.gov is winding down, government programs should explore ways to continue to meet people where they are.
              </p>
              <p class="usa-body">Agencies can fork and host their own notification platform using the open‑source Notify.gov codebase, or a variety of commercial messaging services that support the same use cases that Notify covered.</p>
            </div>
            <div
              class="desktop:grid-col-3 grid-offset-1 desktop:display-block display-none margin-x-5"
            >
              <img
                src="{{ asset_url('images/messaging-devices.svg') }}"
                alt="Illustration showing multiple devices including mobile phones and messaging interfaces representing government text messaging communication"
                width="305"
                height="304"
              />

            </div>
          </div>
        </div>
      </section>
      <section class="usa-section usa-prose" aria-label="Thank you message to partners">
        <div class="grid-container">
          <div class="grid-row flex-justify-center">
            <div class="text-center grid-col-8">
              <h2 class="font-body-xl text-primary margin-bottom-2">
                A message for our partners
              </h2>
              <p class="usa-body margin-0">
                Thank you to our users and partners for their support, participation, and contributions in developing Notify.gov.
              </p>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
  {% endblock %}
</main>
{% endblock %}
