{% extends "base.html" %}
{% import "components/nav_breadcrumb.html" as breadcrumbs %}

{% set page_title = "Establish clear goals" %}

{% block per_page_title %}
{{page_title}}
{% endblock %}

{% block content_column_content %}
{{ breadcrumbs.breadcrumb(page_title, "Guides", "main.best_practices") }}

<section class="usa-prose">
  <h1>{{page_title}}</h1>
  <p class="font-sans-lg text-base">Start with a singular purpose. Make explicit what you want to achieve.</p>
  <div class="grid-row grid-gap-3">
    <div class="tablet:grid-col">
      <p>Text messaging should be one part of how you communicate with the people you serve, and it is best used to
        provoke
        action or influence behavior. Therefore, when starting to plan your texting campaign, it’s important to start
        with
        the end in mind.
      </p>
      <div class="usa-summary-box maxw-tablet" role="region" aria-labelledby="summary-box-establish-clear-goals">
        <div class="usa-summary-box__body">
          <p class="usa-summary-box__heading" id="summary-box-establish-clear-goals">
            To establish clear goals, start by answering the following questions:
          </p>
          <div class="usa-summary-box__text">
            <ul class="usa-list">
              <li><i>Who</i> do you want to text?</li>
              <li><i>At what moments</i> do you want to text them?</li>
              <li><i>Why</i> do you want to text them?</li>
              <li>What do you want them to <i>do</i>?</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tablet:grid-col width-full padding-top-3">
      <div class="grid-container">
        <div class="usa-card__container border-0 width-full overflow-hidden maxh-mobile-lg">
          <img class="width-full" src="{{ asset_url('images/phone_grey.svg') }}" role="img" alt="Phone" />
          <div class="position-absolute flex text-center padding-5 padding-top-15">
            <p class="sms-message-wrapper text-left">Dept. of Human Services: We believe your EBT card may have been
              used by
              someone else. Please call the number on the back of your card (888-123-5555) to cancel and get a new
              one.
              If
              you
              need a new card immediately, please visit your local office.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <h2>When should you send a text?</h2>
  <div class="grid-row grid-gap-3">
    <div class="tablet:grid-col">
      <div class="do-dont">
        <div class="do-dont__do">
          <h3 class="do-dont__heading"><a id="what-to-do" class="usa-anchor"></a>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
              <use xlink:href="{{ url_for('static', filename='img/sprite.svg') }}#check_circle"></use>
            </svg>
            What to do
          </h3>
          <div class="do-dont__content">
            <p><b>Use texting to</b> share timely
              information, provide critical status updates, or remind someone to do something.</p>
            <p class="margin-bottom-2">Examples:</p>

            {% set list_item_dos = [
            {
            "list_content": "Your application is due on…",
            },
            {
            "list_content": "We need more information from you to process your application for…",
            },
            {
            "list_content": "We will be calling you about…at…",
            },
            {
            "list_content": "We will be calling you about…at…",
            },
            ] %}
            <ul>
              {% for item in list_item_dos %}
              <li>
                {{item.list_content}}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tablet:grid-col">
      <div class="do-dont">
        <div class="do-dont__dont">
          <h3 class="do-dont__heading"><a id="what-not-to-do" class="usa-anchor"></a>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
              <use xlink:href="{{ url_for('static', filename='img/sprite.svg') }}#cancel"></use>
            </svg> What not to do
          </h3>
          <div class="do-dont__content">
            <p>Texting is <b>not great for</b> long,
              detailed instructions or frequent reminders that may be ignored.
            </p>
            <p class="margin-bottom-2">Examples:</p>
            {% set list_item_donts = [
            {
            "list_content": "Your rights and responsibilities",
            },
            {
            "list_content": "How to complete your application",
            },
            {
            "list_content": "Weekly reminder not to share your account information",
            },
            ] %}
            <ul>
              {% for item in list_item_donts %}
              <li>
                {{item.list_content}}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>Your program may already be communicating with your audience through methods like mailed notices and phone calls.
    Think of text messages as complementary to your existing communications. Review how well you are currently reaching
    your audience. Are there methods or gaps that could be supplemented with a text message?
  </p>
  <p>
    The Department of Veterans Affairs provides a <a class="use-link usa-link--external"
      href="https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/va-notify/notification-guide.md#vanotify-notification-guide"
      target="_blank">helpful flow-chart</a> that can help you decide if a text message is needed
    for the communication problem you are trying to solve.
  </p>
  <h2>Use a hypothesis framework to plan your campaign</h2>
  <p>
    Think of your texting campaign as a scientific experiment, and try to articulate what you hope to improve as a
    result of implementing text messaging at your agency. For example:
  </p>
  <div class="usa-summary-box maxw-tablet" role="region" aria-labelledby="summary-box-establish-clear-goals">
    <div class="usa-summary-box__body">
      <div class="usa-summary-box__text">
        <p class="margin-top-0 font-body-lg">
          We believe that texting <i>[specific group of people]</i> when <i>[this happens or on this
            cadence]</i> to inform/alert them about <i>[subject]</i> will result in <i>[desired action]</i>.
        </p>
      </div>
    </div>
  </div>
  <p>
    Review your drafted hypothesis with your team to make sure everyone is aligned on your desired goals. A clear and
    concise hypothesis can help you decide how to <a href="../guides/write-for-action">write text message
      content
      that provokes action</a>.
  </p>
  <h2>Begin with a small test</h2>
  <p>
    To help you decide how much to invest in text messaging over time, we highly recommend starting small and testing
    your message campaigns to refine based on feedback and evidence.
  </p>
  <p>
    Starting small has less risk and more flexibility. It can help you gather data and decide <i>if and how</i> to send
    more text messages. For example, start by sending one message to a smaller sample of your audience and track their
    resulting behavior.
  </p>
  <p>
    At a minimum, make sure to get feedback on your message content from staff, community-based organizations, and,
    ideally, from people who receive the texts themselves to ensure your messages are clear and actionable.
  </p>
  <h2>Measure performance</h2>
  <p>Building and operationalizing a texting initiative requires time and effort, and you want to be able to demonstrate
    the results of that effort.</p>
  <div class="usa-summary-box maxw-tablet" role="region" aria-labelledby="summary-box-establish-clear-goals">
    <div class="usa-summary-box__body">
      <div class="usa-summary-box__text">
        <p class="margin-top-0">
          To understand if your texting program is successful, ask:
        </p>
        <ul class="usa-list">
          <li>What do you want to be different for your program or your desired audience after a text message is sent,
            as compared to your current state?</li>
          <li>How will you know if text recipients take the desired action?</li>
          <li>Do you have access to existing data in your system that you could use to determine whether texting is
            giving you the results you want?</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
