{% extends "base.html" %}
{% import "components/nav_breadcrumb.html" as breadcrumbs %}

{% from "components/guides/circle_number.html" import circle_number %}

{% set page_title = "Establish trust" %}

{% block per_page_title %}
{{page_title}}
{% endblock %}

{% block content_column_content %}
{{ breadcrumbs.breadcrumb(page_title, "Best practices", "main.best_practices") }}

<section class="usa-prose">
  <h1>{{page_title}}</h1>
  <p class="font-sans-lg text-base">Help your audience anticipate and welcome your texts.</p>
  <p>
    People are wary of texts they’re not expecting to receive. Before you send your first text, consider how you will
    gain trust with your audience and address any concerns of spam. Seize specific moments to reinforce what your
    audience should expect from your messages.
  </p>
  <h2 id="get-the-word-out">Get the word out</h2>
  <p>Before you launch, let your audience know you are adding texting as a communication method. People are more likely
    to trust your text once they get it if they know that your program is sending texts.</p>

  <p>How you currently communicate with your audience will determine the best approaches to announce your new
    initiative. Harness channels you’re already using like social media, public websites, mailing inserts, or fliers at
    key service locations as well as partnering with community organizations to get the word out about your new texting
    program.</p>
  <h3>An example of key messages in direct mail</h3>
  <figure>
    <img src="{{asset_url('images/snap-renewal.jpg')}}" alt="snap-renewal" width="100%">
    <figcaption>A paper mailer sent out by the State of Connecticut, in partnership with Code for America, to get the
      word out about their new SNAP texting initiative. Flier displays an image of an introduction text and includes key
      messages to reinforce legitimacy.</figcaption>
  </figure>

  <h3>Prime your audiences to trust you</h3>
  <ul class="usa-card-group flex-1 flex-wrap padding-top-2">
    <li class="flex-1 width-full height-full padding-bottom-2">
      <div class="usa-card__container border-0">
        <p>To reinforce legitimacy, include these key messages in your outreach:</p>
        <ol class="guides-list">
          <li><b>Introduce yourself</b> – Give people time to get to know your texting communications before you need
            direct action from them</li>
          <li><b>Phone number</b> – Note the sending phone number your texts will come from</li>
          <li><b>Text types</b> – Be clear on the types of texts you intend to send, how often, and why they matter</li>
          <li><b>Privacy policy</b>– For example, state that you will not collect personal information, including the
            types of information you will never ask for</li>
          <li><b>Places to verify</b> – Include a phone number, website, or human where people can verify that the texts
            are coming from you</li>
          <li><b>Opt out</b> – Provide opt-out instructions and a disclaimer for the potential cost of receiving the
            text
          </li>
        </ol>
      </div>
    </li>
    <li class="usa-card flex-1 usa-card--media-right width-full padding-top-3">
      <div class="usa-card__container border-0 width-full overflow-hidden height-phone-lg">
        <img class="width-full" src="{{ asset_url('images/phone_grey.svg') }}" role="img" alt="Phone" />
        <div class="position-absolute flex text-center padding-5 padding-top-15">
          <p class="sms-message-wrapper text-left">Dept. of Social Services: Welcome to text updates from the
            {{circle_number(1)}}<b>Department of Social Services.</b> {{ circle_number(2) }}<b>We’ll always text
              you from
              this number,</b> save us to your contact list. Our goal is to {{ circle_number(3) }} <b>keep you up to
              date on
              your account status.</b> {{ circle_number(4) }} <b>We will never ask for personal details in a text.</b>
            {{ circle_number(5) }} If you have questions about how we protect your privacy, see
            state.gov/privacy.{{circle_number(6) }}<b>Reply STOP to stop.</b>
          </p>
        </div>
      </div>
    </li>
  </ul>
  <hr>
  <h2 id="as-people-receive-texts">As people receive texts</h2>
  <p>When a person has questions or needs assistance, reaching out for support may be natural for them. Give direction
    in your texts so your audience understands what to do with the information you provide. Remember, it’s important to
    repeat consistent and standardized language across texts and programs.</p>
  <h3>Be trustworthy</h3>
  <ul class="usa-card-group flex-1 flex-wrap padding-top-2">
    <li class="flex-1 width-full height-full padding-bottom-2">
      <div class="usa-card__container border-0">
        <ol start="7" class="guides-list set-two">
          <li>Identify yourself in the text message. Use a consistent and familiar <b>program name</b> to precede each
            text you send.</li>
          <li>Personalize with <b>first name</b>. Through A/B testing, Code for America saw an increase in
            follow-through by 25% if someone’s first name was included.</li>
          <li>Use <b>full and direct .gov website URLs</b>. Avoid link shorteners, as they obscure your links and
            potentially make it easier for a malicious actor to spoof your text.</li>
          <li>If providing a phone number, use a familiar phone number and <b>provide information on how to verify</b>
            its legitimacy.</li>
        </ol>
      </div>
    </li>
    <li class="usa-card flex-1 usa-card--media-right width-full padding-top-1">
      <div class="usa-card__container border-0 width-full height-mobile overflow-hidden">
        <img class="width-full" src="{{ asset_url('images/phone_grey.svg') }}" role="img" alt="Phone" />
        <div class="position-absolute flex text-center padding-5 padding-top-10">
          <p class="sms-message-wrapper text-left">
            {{circle_number(7) }}<b>Dept. of Social Services:</b> Hi {{circle_number(8) }}<b>Julie,</b> Your Medicaid
            renewal is closing December 31, 2023. You can renew online at {{circle_number(9) }}<a
              class="use-link usa-link--external" href="https://www.application.yourstate.gov" target="_blank"
              rel="application.yourstate.gov">https://www.application.yourstate.gov</a> or {{circle_number(10) }}
            <b>call the number on the back</b> of your Medicaid card.
          </p>
        </div>
      </div>
    </li>
  </ul>

  <h3>Provide helpful auto-responses</h3>
  <ul class="usa-card-group flex-1 flex-wrap padding-top-2">
    <li class="flex-1 width-full height-full padding-bottom-2">
      <div class="usa-card__container border-0">
        <p>If you're sending one-way notifications, phone carriers allow a single auto-response message that will be
          generated if a recipient tries to text a response to your message. Use the auto-response to reaffirm your key
          messages around legitimacy and communicate to recipients that texts are coming from an automated system.</p>
        <ol class="guides-list set-three">
          <li>Provide <b>a way to contact a human</b> in any auto-response text</li>
          <li>Provide <b>information on how to opt out</b> and opt back in</li>
        </ol>
      </div>
    </li>
    <li class="usa-card flex-1 usa-card--media-right width-full padding-top-3">
      <div class="usa-card__container border-0 width-full overflow-hidden guides">
        <img class="width-full" src="{{ asset_url('images/phone_grey.svg') }}" role="img" alt="Phone" />
        <div class="position-absolute flex text-center padding-5 padding-top-15">
          <p class="sms-message-wrapper text-left">
            Dept. of Social Services: This number is unmonitored. To {{circle_number(11) }} <b>contact us, call
              888-123-4567</b>. We will never ask for personal details in a text. If you have questions about how to
            protect your privacy, see state.gov/privacy {{circle_number(12) }} <b>Reply “STOP”</b> to this phone number
            to opt out of receiving texts, and “START” to opt back in.
          </p>
        </div>
      </div>
    </li>
  </ul>

  <h2>Be prepared for questions</h2>
  <p>
    Your texting program will only be perceived as legitimate if you get the word out in many different ways. It's also
    important that agency employees who support text recipients (for example, the call center) are familiar with the
    texting program. They can accurately respond to recipient questions about them, so make sure you’re priming your
    delivery staff, especially those who interact directly with your intended audience.
  </p>

  <h3 class="padding-bottom-2">Harness trusted communication channels</h3>
  {% set card_contents = [
  {
  "image_src": asset_url('images/website.svg'),
  "card_heading": "Websites",
  "alt_text": "Graphic representing a website browser",
  "p_text": "Post banner alerts about texting on your agency website and link to a press release for more information.
  Publish a public texting privacy policy.",
  },
  {
  "image_src": asset_url('images/community-org.svg'),
  "card_heading": "Community organizations",
  "alt_text": "Illustration of community organizations spreading awareness",
  "p_text": "Alert trusted community-based organizations that texts are coming and what they look like. Equip them with
  fliers, posters, and talking points to spread the word.",
  },
  {
  "image_src": asset_url('images/call-center.svg'),
  "card_heading": "IVR / Call Centers",
  "alt_text": "Illustration of a call center promoting texting initiative",
  "p_text": "Consider adding hold message announcements about your texting initiative to further get the word out.",
  },
  ] %}

  {% with card_contents=card_contents %}{% include "components/guides/cards.html" %}{%
  endwith %}
  <h3 class="padding-bottom-2">Prepare your team</h3>
  {% set card_contents = [
  {
  "image_src": asset_url('images/grouping.svg'),
  "card_heading": "Staff",
  "alt_text": "Illustration of staff group briefing",
  "p_text": "Give all staff a heads-up about texts before and when they are sent. Share talking points on what texts
  you’re sending, when you’ll start to send them, the phone number they are coming from, and where staff can escalate
  any issues.",
  },
  {
  "image_src": asset_url('images/project-management.svg'),
  "card_heading": "Case management systems",
  "alt_text": "Graphic representing project management",
  "p_text": "When it makes sense, include information about texts being sent to specific clients on individual splash
  pages or within case management notes.",
  },
  ] %}
  {% with card_contents=card_contents %}{% include "components/guides/cards.html" %}{%
  endwith %}
</section>
{% endblock %}
