[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ago = "~=0.0.95"
blinker = "~=1.4"
exceptiongroup = "==1.1.2"
fido2 = "~=0.9"
flask = "~=2.3"
flask-basicauth = "~=0.2"
flask-login = "~=0.6"
flask-wtf = "~=1.1"
gds-metrics = {version = "==0.2.4", ref = "6f1840a57b6fb1ee40b7e84f2f18ec229de8aa72", git = "https://github.com/alphagov/gds_metrics_python.git"}
govuk-bank-holidays = "==0.13"
govuk-frontend-jinja = {version = "==0.5.8-alpha", git = "https://github.com/alphagov/govuk-frontend-jinja.git"}
gunicorn = {version = "==20.1.0", extras = ["eventlet"], ref = "1299ea9e967a61ae2edebe191082fd169b864c64", git = "https://github.com/benoitc/gunicorn.git"}
humanize = "~=4.1"
itsdangerous = "~=2.1"
jinja2 = "~=3.1"
notifications-python-client = "==8.0.1"
prometheus-client = "==0.17.1"
pyexcel = "==0.7.0"
pyexcel-io = "==0.6.6"
pyexcel-ods3 = "==0.6.1"
pyexcel-xls = "==0.7.0"
pyexcel-xlsx = "==0.6.0"
openpyxl = "==3.0.10"
pyproj = "==3.6.0"
python-dotenv = "==1.0.0"
pytz = "==2023.3"
rtreelib = "==0.2.0"
werkzeug = "~=2.3"
wtforms = "~=3.0"
newrelic = "*"
flask-talisman = "*"
notifications-utils = {editable = true, ref = "main", git = "https://github.com/GSA/notifications-utils.git"}
coverage = "*"
pytest-playwright = "*"

[dev-packages]
isort = "==5.12.0"
pytest = "==7.4.0"
pytest-env = "==0.8.2"
pytest-mock = "==3.11.1"
pytest-xdist = "==3.3.1"
beautifulsoup4 = "==4.12.2"
freezegun = "==1.2.2"
flake8 = "==6.1.0"
flake8-bugbear = "==23.7.10"
flake8-print = "==5.0.0"
moto = "~=4.1"
requests-mock = "==1.11.0"
# used for creating manifest file locally
jinja2-cli = {version = "==0.8.2", extras = ["yaml"]}
pip-audit = "*"
bandit = "*"

[requires]
python_version = "3.9"
