[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ago = "*"
blinker = "*"
fido2 = "==0.9.3"
flask = "*"
flask-basicauth = "*"
flask-login = "*"
flask-wtf = "*"
gds-metrics = {version = "*", ref = "6f1840a57b6fb1ee40b7e84f2f18ec229de8aa72", git = "https://github.com/alphagov/gds_metrics_python.git"}
govuk-bank-holidays = "*"
govuk-frontend-jinja = {version = "*", git = "https://github.com/alphagov/govuk-frontend-jinja.git"}
gunicorn = {version = "*", extras = ["eventlet"], ref = "1299ea9e967a61ae2edebe191082fd169b864c64", git = "https://github.com/benoitc/gunicorn.git"}
humanize = "*"
itsdangerous = "*"
jinja2 = "*"
notifications-python-client = "*"
prometheus-client = "*"
pyexcel = "*"
pyexcel-io = "*"
pyexcel-ods3 = "*"
pyexcel-xls = "*"
pyexcel-xlsx = "*"
openpyxl = "==3.0.10"
pyproj = "*"
python-dotenv = "*"
pytz = "*"
rtreelib = "*"
werkzeug = "*"
wtforms = "*"
newrelic = "*"
flask-talisman = "*"
notifications-utils = {editable = true, ref = "main", git = "https://github.com/GSA/notifications-utils.git"}
coverage = "*"

[dev-packages]
isort = "*"
pytest = "*"
pytest-env = "*"
pytest-mock = "*"
pytest-xdist = "*"
beautifulsoup4 = "*"
freezegun = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-print = "*"
moto = "*"
requests-mock = "*"
# used for creating manifest file locally
jinja2-cli = {version = "*", extras = ["yaml"]}
pip-audit = "*"
bandit = "*"

[requires]
python_version = "3.9"
