ADMIN_CLIENT_SECRET: notify-admin
DANGEROUS_SALT: dev-notify-salt
SECRET_KEY: dev-notify-secret-key
ROUTE_SECRET_KEY_1: dev-route-secret-key-1
ROUTE_SECRET_KEY_2: dev-route-secret-key-2
AWS_ACCESS_KEY_ID: asdf
AWS_SECRET_ACCESS_KEY: asdf
BASIC_AUTH_USERNAME: asdf
BASIC_AUTH_PASSWORD: asdf
