ADMIN_CLIENT_SECRET: asdf
ADMIN_CLIENT_USERNAME: asdf
ADMIN_BASE_URL: asdf
API_HOST_NAME: asdf
DANGEROUS_SALT: asdf
SECRET_KEY: asdf
REDIS_ENABLED: asdf
AWS_REGION: asdf
AWS_ACCESS_KEY_ID: asdf
AWS_SECRET_ACCESS_KEY: asdf
BASIC_AUTH_USERNAME: asdf
BASIC_AUTH_PASSWORD: asdf
