@use 'uswds-core' as *;
.usa-banner__header-action {
  font-size: size('body', 2);
}

.usa-nav__primary > .usa-nav__primary-item > a.usa-nav__link {
  font-weight: 400;
}

h1 {
  font-weight: bold;
}

.usa-section--dark h1 {
  color: color('blue-30v');
  @include at-media-max('desktop') {
    font-size: size('body', 12);
  }
}

p,
.list li {
  font-family: family('sans');
  font-size: size('body', 6);
}
