/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

@use "uswds-core" with (
   $theme-font-type-sans: "public-sans",
   $theme-show-notifications: false,
   $theme-banner-max-width: "desktop-lg",
   $theme-grid-container-max-width: "desktop-lg",
   $theme-footer-max-width: "desktop-lg",
   $theme-header-max-width: "desktop-lg",
   $theme-identifier-max-width: "desktop-lg"
);
