/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

.usa-header--extended .usa-logo {
   font-family: family("sans");
   margin: units(4) 0;
   img {
      @include at-media($theme-header-min-width) {
         width: 80px;
         height: 70px;
      }
   }
}

.usa-nav__primary > .usa-nav__primary-item > a {
   font-size: size("body", 4);
}

h1 {
   font-weight: bold !important;
}

p,
.list li {
   font-family: family("sans");
   font-size: size("body", 6);
}

.large-number {
   font-size: size("body", 16);
}

.big-number-with-status .big-number,
.big-number-with-status .big-number-smaller {
   @include u-bg("primary");
}

.big-number-with-status .big-number-status,
.big-number-with-status .big-number-status-failing {
   @include u-bg("green-cool-40v");
}

.show-more-no-border:focus,
.show-more:focus,
.table-field-right-aligned a:active:before,
.table-field-right-aligned a:focus:before {
   box-shadow: none !important;
}

.govuk-checkboxes__label::after {
   top: 13px;
   left: 9px;
   width: 22px;
   height: 11px;
}

.govuk-checkboxes__input:focus + .govuk-checkboxes__label::before,
.multiple-choice [type="radio"]:focus + label::before {
   box-shadow: 0 0 0 3px color("blue-40v");
}

.usa-dark-background .pill-item__container {
   color: #fff;
}

.pill-separate-item:link,
.pill-separate-item:visited {
   text-decoration: none;
   background: initial;
}

.template-footer .usa-link,
.template-content-count,
.table-empty-message,
td.table-empty-message {
   font-size: size("body", "sm");
}

.textbox-highlight-background,
.textbox-highlight-foreground,
.textbox-highlight-mask,
.textbox-highlight-textbox {
   font-size: units(2);
   line-height: 1.2;
   padding: units(1);
   font-family: family("sans");
}

.govuk-inset-text {
   border-color: color("blue-40v");
}

.usa-dark-background .pill-item__label {
   color: white;
   text-decoration: none !important;
}

.pill-item.usa-link {
   text-decoration: none !important;
}

.user-list-edit-link:active:before,
.user-list-edit-link:focus:before {
   box-shadow: none;
   border: 0;
}

.template-list-item-without-ancestors .template-list-folder:active,
.template-list-item-without-ancestors .template-list-folder:active::before,
.template-list-item-without-ancestors .template-list-folder:focus,
.template-list-item-without-ancestors .template-list-folder:focus::before,
.template-list-item-without-ancestors .template-list-template:active,
.template-list-item-without-ancestors .template-list-template:active::before,
.template-list-item-without-ancestors .template-list-template:focus,
.template-list-item-without-ancestors .template-list-template:focus::before {
   background-color: transparent;
   box-shadow: none;
}

.template-list-item-without-ancestors a.template-list-folder:first-of-type {
   background-image: url(../images/folder-blue-bold.svg);
   background-size: 30px 30px;
}

.folder-heading a.folder-heading-folder,
.template-list-folder {
   background-image: url(../images/folder-blue-bold.svg);
   &:hover {
      color: color("blue-warm-70v");
      background-image: url(../images/folder-blue-bold.svg);
   }
}

.folder-heading-folder {
   background-image: url(../images/folder-black.svg);
}

.folder-heading a.folder-heading-folder-truncated {
   background-position: 0;
}

.usa-template-list-template {
   background: url(../img/material-icons/description.svg) no-repeat;
   padding-left: 40px;
   background-size: 30px 30px;
}

.js-enabled .live-search {
   display: flex;
   margin-bottom: units(2);
   .usa-form-group {
      @include u-width("mobile-lg");
   }
   input#search {
      width: 100%;
      border: 1px solid color("gray-60");
   }
}

.usa-hint {
   display: block;
}

.js-stick-at-bottom-when-scrolling {
   margin: 0 0 units(5);
   padding: units(2) 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   overflow: visible;
   button {
      margin-right: units(2);
   }
   .template-list-selected-counter {
      position: relative;
      top: 0;
   }
}

.sticky-template-form {
   margin: 0;
   padding: 0;
   &:focus {
      outline-offset: units(1);
   }
}

.spark-bar-bar {
   font-size: units(3);
   background-color: transparent;
}

.usa-hero {
   background-image: none; 
}

.usa-prose {
   h1, h2, h3, h4, h5 {
      font-family: family("sans");
   }
} 

.navigation-service.usa-breadcrumb {
   padding-bottom: 0; 
}

