.template-container {
  position: relative;
}

%edit-template-link,
.edit-template-link {

  @include core-19;
  position: absolute;
  background: $link-colour;
  color: $white;
  padding: 10px govuk-spacing(3);
  z-index: 10000;

  &:link, &:visited {
    color: $white;
  }

  &:hover {
    color: $light-blue-25;
  }

  &:focus {
    color: $govuk-text-colour;
  }

}

.template-content-count {
  @include core-19($tabular-numbers: true);
  color: $secondary-text-colour;
  padding: 0 0 govuk-spacing(6) 0;

  & .govuk-error-message {
    margin: 0;
  }
}
