{% from "components/big-number.html" import big_number_with_status %}

<div class="ajax-block-container">
  <div class="govuk-grid-row">
    <div id="total-sms" class="govuk-grid-column-one-half">
      {{ big_number_with_status(
        statistics['sms']['requested'],
        statistics['sms']['requested']|message_count_label('sms', suffix='sent'),
        statistics['sms']['failed'],
        statistics['sms']['failed_percentage'],
        statistics['sms']['show_warning'],
        failure_link=url_for(".view_notifications", service_id=service_id, message_type='sms', status='failed'),
        link=url_for(".view_notifications", service_id=service_id, message_type='sms', status='sending,delivered,failed'),
        smaller=True,
        ) }}
      </div>
      <div id="total-email" class="govuk-grid-column-one-half">
        <span class="big-number-with-status">
        <a class="govuk-link govuk-link--no-visited-state big-number-link" style="background-color: gray; border-color: gray;">
            <span class="big-number-smaller">
              <span class="big-number-number" style="color: lightgray;">0</span>
              <span class="big-number-label" style="color: lightgray;">emails sent</span>
            </span>
          </a>
          <span class="big-number-status" style="background-color: gray; border-color: gray; color: lightgray;">No failures</span>
        </span>
      </div>
    </div>
</div>
