<div class="ajax-block-container">
  <div class="grid-row grid-gap">
    <div id="total-sms" class="grid-col-12">
      <span class="big-number-with-status display-block margin-bottom-2">
        <p>
          <span class="big-number-smaller">
            <span class="big-number-number">
              {% if statistics['sms']['requested'] is number %}
              {{ "{:,}".format(statistics['sms']['requested']) }}
              {% else %}
              {{ statistics['sms']['requested'] }}
              {% endif %}
            </span>
            <span class="big-number-label">{{ statistics['sms']['requested']|message_count_label('sms', suffix='sent') }} in the last seven days</span>
          </span>
        </p>
        <a class="usa-button usa-button--outline" href="{{ url_for('.view_notifications', service_id=service_id, message_type='sms', status='sending,delivered,failed') }}">
         Details
        </a>
        {# Removing the failures area for now, as the user can click on the above link to see all the details.
        In the future state of the dashboard, the all statuses will be more apparent with data visualizations #}
      </span>
      </div>
    </div>
</div>
