{% extends "base.html" %}

{% set page_title = "Contact" %}

{% block per_page_title %}
{{page_title}}
{% endblock %}

{% block content_column_content %}
<!-- {% with title=page_title %}{% include "components/best-practices/nav_breadcrumb.html" %}{% endwith %} -->
<section class="usa-prose">
  <h1>{{page_title}}</h1>
  <h2>Notify is designed to be easy to use.</h2>
  <p>If you have technical issues or questions, we are available at <a
      href="mailto:notify-support@gsa.gov">notify-support@gsa.gov</a>.</p>
  <p>You can expect a response within one business day.</p>
  <div class="usa-summary-box maxw-tablet __web-inspector-hide-shortcut__" role="region"
    aria-label="For partnership inquiries">
    <div class="usa-summary-box__body">
      <div class="usa-summary-box__text">
        <p> For partnership inquiries see, <a href="/about/join-notify">Join Notify</a> or contact us at <br><a
            href="mailto:tts-notify@gsa.gov"
            aria-label="Email Notify for inquries at tts-notify@gsa.gov">tts-notify@gsa.gov</a>.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
