{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/uk_components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  {{ notification_type.capitalize() }} are disabled
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ page_header('{} are disabled'.format(notification_type.capitalize())) }}
      <p>
        Sending {{ 999|message_count_label(notification_type, suffix='') }} has been disabled for your service.
      </p>
      <p>
        If you need to send {{ 999|message_count_label(notification_type, suffix='') }}
        <a class="usa-link " href="{{ url_for('.support') }}">get in touch with the Notify.gov team</a>.
      </p>

    </div>
  </div>

{% endblock %}
