{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/folder-path.html" import folder_path %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/copy-to-clipboard.html" import copy_to_clipboard %}
{% from "components/components/button/macro.njk" import usaButton %}

{% set page_title = 'Confirm your template' %}

{% block service_page_title %}{{page_title}}{% endblock %}

{% block maincolumn_content %}

  {% if show_redaction_message %}

    <div class="bottom-gutter">
      {% call banner_wrapper(type='dangerous', subhead='Are you sure you want to hide all personalized and conditional content after sending for increased privacy protection?') %}
        <ul class="list list-bullet">
          <li>
            You will not be able to see personalized content in Notify for this template
          </li>
          <li>
            You cannot undo this
          </li>
        </ul>
        <form method='post'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {{ usaButton({ "text": "Confirm", "classes": "usa-button--secondary margin-top-2" }) }}
        </form>
      {% endcall %}
    </div>
  {% else %}
    <div class="grid-row">
      <div class="grid-col-12">
        <h1 class="font-body-2xl line-height-sans-2 folder-heading margin-top-0">
          {{page_title}}
        </h1>
        {{ folder_path(
          folders=current_service.get_template_path(template._template),
          service_id=current_service.id,
          template_type='all',
          current_user=current_user
        ) }}
      </div>
    </div>
  {% endif %}

  <div class="grid-row">
    {% include 'views/templates/_template.html' %}
  </div>
  <div class="template-footer">
    {% if template._template.updated_at %}
      <span class="font-body-lg text-bold">
        Last edited
        <time datetime="{{ template._template.updated_at }}">
          {{ template._template.updated_at|format_delta }}
        </time>
      </span>
      <h2 class="margin-bottom-1 font-body-lg">More actions</h2>
      <ul class="usa-list usa-list--unstyled">
        <li>
          <a class="usa-link margin-right-3"
          href="{{ url_for('.view_template_versions', service_id=current_service.id, template_id=template.id) }}">
            See previous versions
          </a>
        </li>
        {% if current_user.has_permissions('manage_templates') and user_has_template_permission %}
          {% if not template._template.archived %}
            <li>
              <a class="usa-link margin-right-3"
              href="{{ url_for('.delete_service_template', service_id=current_service.id, template_id=template.id) }}">
                Delete this template
              </a>
            </li>
          {% endif %}
          {% if not template._template.redact_personalisation %}
            <li>
              <a class="usa-link"
              href="{{ url_for('.confirm_redact_template', service_id=current_service.id, template_id=template.id) }}">
                Hide all personalized and conditional content after sending
              </a> for increased privacy protection
            </li>
          {% else %}
            <li>
              <p class="hint">Personalization is hidden after sending</p>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    {% endif %}
  </div>

{% endblock %}
