{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/folder-path.html" import folder_path, page_title_folder_path %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/copy-to-clipboard.html" import copy_to_clipboard %}
{% from "components/components/button/macro.njk" import usaButton %}

{% block service_page_title %}
  {{ page_title_folder_path(current_service.get_template_path(template._template)) }}
{% endblock %}

{% block maincolumn_content %}

  {% if show_redaction_message %}

    <div class="bottom-gutter">
      {% call banner_wrapper(type='dangerous', subhead='Are you sure you want to hide personalization after sending?') %}
        <ul class="list list-bullet">
          <li>
            You will not be able to see personalized content in Notify for this template
          </li>
          <li>
            You cannot undo this
          </li>
        </ul>
        <form method='post'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {{ usaButton({ "text": "Confirm", "classes": "usa-button--secondary margin-top-2" }) }}
        </form>
      {% endcall %}
    </div>
  {% else %}
    <div class="grid-row">
      <div class="grid-col-12">
        <h1 class="font-body-xl folder-heading margin-top-0">
          Review your message
        </h1>
        {{ folder_path(
          folders=current_service.get_template_path(template._template),
          service_id=current_service.id,
          template_type='all',
          current_user=current_user
        ) }}
      </div>
    </div>
  {% endif %}

  <div class="grid-row">
    {% include 'views/templates/_template.html' %}
  </div>
  <div class="template-footer">
    {% if template._template.updated_at %}
      <h2 class="font-body-lg">
        Last edited
        <time class="timeago" datetime="{{ template._template.updated_at }}">
          {{ template._template.updated_at|format_delta }}
        </time>
      </h2>
      <a class="usa-link margin-right-3" href="{{ url_for('.view_template_versions', service_id=current_service.id, template_id=template.id) }}">See previous versions</a>
    {% endif %}
    {% if current_user.has_permissions('manage_templates') and user_has_template_permission %}
      {% if not template._template.archived %}
          <a class="usa-link margin-right-3" href="{{ url_for('.delete_service_template', service_id=current_service.id, template_id=template.id) }}">Delete this template</a>
      {% endif %}
      {% if not template._template.redact_personalisation %}
          <a class="usa-link" href="{{ url_for('.confirm_redact_template', service_id=current_service.id, template_id=template.id) }}">Hide personalization after sending</a>
      {% else %}
        <p class="hint">Personalization is hidden after sending</p>
      {% endif %}
    {% endif %}
  </div>

  <!--<div class="">
    {{ copy_to_clipboard(template.id, name="Template ID", thing='template ID') }}
  </div>-->

{% endblock %}
