{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/components/back-link/macro.njk" import govukBackLink %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}

{% block service_page_title %}
  Before you request new branding
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.email_branding_request', service_id=current_service.id)
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Before you request new branding') }}

  <p>You can only use Notify.gov branding if people go to Notify.gov to access your service.</p>

  <p>
    You cannot use Notify.gov branding if your organization is
    <a class="usa-link"
      href="https://www.gov.uk/government/publications/govuk-proposition/govuk-proposition#organizations-independent-from-government">independent
      from government</a>.
  </p>

  <p>We’ll email you once your branding’s ready to use, or if we need any more information.</p>

  {% call form_wrapper() %}
    {{ page_footer('Request new branding') }}
  {% endcall %}

{% endblock %}
