{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/branding-preview.html" import email_branding_preview %}

{% block service_page_title %}
  Check your new branding
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.email_branding_request', service_id=current_service.id)
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Check your new branding') }}

  <p>
    Emails from {{ current_service.name }} will look like this.
  </p>
  {{ email_branding_preview(nhs_branding_id) }}

  <h2 class="font-body-lg">Before you continue</h2>

  <p>Make sure you’re allowed to use NHS branding.</p>

  <p>
    If you’re not sure, <a class="usa-link" href="https://www.england.nhs.uk/nhsidentity/identity-guidelines/who-can-use-the-nhs-identity/">check the guidance on the NHS website</a>.
  </p>

  {% call form_wrapper() %}
    {{ page_footer('Use this branding') }}
  {% endcall %}

{% endblock %}
