{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  Contact us
{% endblock %}

{% block maincolumn_content %}

<div class="usa-prose margin-bottom-10">

  <h1 class="font-body-2xl margin-bottom-3">Contact us</h1>
  <p>Notify is designed to be easy to use.</p>
  <ul class="list list-bullet">
    <li>For information on personalization and data preparation, see <a href={{ url_for("main.guidance_index") }}>Guidance</a>.</li>
    <li>For help interpreting delivery reports, see <a href={{ url_for("main.message_status") }}>Delivery Status</a>.</li>
    <li>For details on pricing and what counts as a message part, see <a href={{ url_for("main.pricing") }}>Pricing</a>.</li>
  </ul>

  <p>If you have other questions, we are available at <a class="usa-link" href="mailto:notify-support@gsa.gov">notify-support@gsa.gov</a>.</p>

  <p>You can expect a response within one business day.</p>

</div>

{% endblock %}
