{% extends "withnav_template.html" %}

{% from "components/ajax-block.html" import ajax_block %}
{% from "components/previous-next-navigation.html" import previous_next_navigation %}

{% block service_page_title %}
  All activity
{% endblock %}

{% set show_pagination %}
  {% if prev_page or next_page %}
  <nav aria-label="Pagination" class="usa-pagination">
    <ul class="usa-pagination__list">
      {% if prev_page %}
      <li class="usa-pagination__item usa-pagination__arrow">
        <a
          href="{{prev_page['url']}}"
          class="usa-pagination__link usa-pagination__previous-page"
          aria-label="Previous page"
          >
          <img src="{{ url_for('static', filename='/img/usa-icons/navigate_before.svg') }}" alt="arrow">
          <span class="usa-pagination__link-text">Previous</span></a
        >
      </li>
      {% endif %}
      {% if pagination %}
        {% for page in pagination.pages %}
          {% if page == pagination.current %}
          <li class="usa-pagination__item usa-pagination__page-no">
            <span class="usa-pagination__button usa-current" aria-label="Page {{ page }}" aria-current="true">
              {{ page }}
            </span>
          </li>
          {% else %}
            <li class="usa-pagination__item">
              <a class="usa-pagination__button" href="?page={{ page }}">
                {{ page }}
              </a>
            </li>
          {% endif %}
          {% if page == 3 and pagination.last > 4 %}
            <li class="usa-pagination__item usa-pagination__overflow" aria-label="ellipsis indicating non-visible pages">
              <span>…</span>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if next_page %}
      <li class="usa-pagination__item usa-pagination__arrow">
        <a
          href="{{ next_page['url'] }}"
          class="usa-pagination__link usa-pagination__next-page"
          aria-label="Next page"
        >
          <span class="usa-pagination__link-text">Next </span>
          <img src="{{ url_for('static', filename='/img/usa-icons/navigate_next.svg') }}" alt="arrow">

        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
{% endset %}


{% block maincolumn_content %}

  <div class="dashboard margin-bottom-8">
    <h1 class="usa-sr-only">All activity</h1>
    {% if current_user.has_permissions('manage_templates') and not current_service.all_templates %}
      <!-- {% include 'views/dashboard/write-first-messages.html' %} -->
    {% endif %}

    {{ ajax_block(partials, updates_url, 'upcoming') }}

    <h2 class="font-body-2xl line-height-sans-2 margin-0">All activity</h2>

    <h2 class="margin-top-4 margin-bottom-1">Sent jobs</h2>
    <div class="usa-table-container--scrollable" tabindex="0">
      <table class="usa-table usa-table--borderless job-table">
        <thead class="table-field-headings">
          <tr>
            <th data-sortable scope="col" role="columnheader" class="table-field-heading-first">
              <span>Job ID#</span>
            </th>
            <th data-sortable scope="col" role="columnheader" class="table-field-heading">
              <span>Template</span>
            </th>
            <th data-sortable scope="col" role="columnheader" class="table-field-heading">
              <span>Status</span>
            </th>
            <th data-sortable scope="col" role="columnheader" class="table-field-heading">
              <span>Sender</span>
            </th>
            <th data-sortable scope="col" role="columnheader" class="table-field-heading">
              <span>Reports</span>
            </th>
            <th data-sortable scope="col" role="columnheader" class="table-field-heading">
              <span># of Recipients</span>
            </th>
            <th data-sortable scope="col" role="columnheader" class="table-field-heading">
              <span>Message parts used</span>
            </th>
            <th data-sortable scope="col" role="columnheader" class="table-field-heading">
              <span>Delivery rate</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% if all_jobs_dict %}
            {% for job in all_jobs_dict %}
              {% if job.job_id %}
              <tr class="table-row" id="{{ job.job_id }}">
                <td class="table-field file-name" data-sort-value="{{ job.job_id[-12:].rjust(12, '0') }}">
                  <a class="usa-link file-list-filename" href="{{ job.view_job_link }}">
                    {{ job.job_id[-12:] if job and job.job_id else 'Manually entered number' }}
                </a>
                </td>
                <td class="table-field template">
                  {{ job.template_name }}
                </td>
                <td class="table-field time-sent">
                  {{ job.created_at | format_datetime_table }}
                </td>
                <td class="table-field sender">
                  {{ job.created_by.name }}
                </td>
                <td class="table-field report table-field-center-aligned">
                  {% if job.time_left != "Data no longer available" %}
                    <a class="usa-link file-list-filename" href="{{ job.download_link }}"><img src="{{ url_for('static', filename='img/material-icons/file_download.svg') }}" alt="File Download Icon"></a>
                  {% elif job %}
                    <span>{{ job.time_left }} n/a</span>
                  {% endif %}
                </td>
                <td class="table-field count-of-recipients">
                  {{ job.notification_count}}
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          {% else %}
            <tr class="table-row">
              <td class="table-empty-message" colspan="10">No batched job messages found &thinsp;(messages are kept for {{ service_data_retention_days }} days).</td>
            </tr>
        {% endif %}
        </tbody>
      </table>
      <p>
        <b>Note:</b> Report data is only available for 7 days after your message has been sent
      </p>
    </div>
    {{show_pagination}}
  </div>

{% endblock %}
