{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}

{% block main %}
<div class="grid-container">
    <nav class="navigation-service usa-breadcrumb">
      <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
          <span class="usa-breadcrumb__label">Platform admin</span>
        </li>
        <li class="usa-breadcrumb__list-item">
          <a class="usa-breadcrumb__link" href="{{ url_for('main.choose_account') }}">
            <span class="usa-breadcrumb__label">Switch service</span>
          </a>
        </li>
      </ol>
    </nav>
    <div class="grid-row margin-bottom-10">
      <div class="tablet:grid-col-3 margin-top-4">
        <nav class="navigation">
          <ul class="usa-sidenav">

            {% for link_text, url in [
              ('Summary', ('main.platform_admin')),
              ('Live services', ('main.live_services')),
              ('Trial mode services', ('main.trial_services')),
              ('Organizations', ('main.organizations')),
              ('Reports', ('main.platform_admin_reports')),
              ('Email branding', ('main.email_branding')),
              ('Inbound SMS numbers', ('main.inbound_sms_admin')),
              ('Find services by name', ('main.find_services_by_name')),
              ('Find users by email', ('main.find_users_by_email')),
              ('Email complaints', ('main.platform_admin_list_complaints')),
              ('Clear cache', ('main.clear_cache')),
            ] %}
            <li class="usa-sidenav__item">
              <a class="{% if url == request.endpoint %} usa-current {% endif %}" href="{{ url_for(url) }}">
                <span class="usa-sidenav__label">{{ link_text }}</span>
              </a>
            </li>
          {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="grid-col-9 tablet:grid-col-9 padding-left-4 sub-content">
      {% block backLink %}{% endblock %}
        <main id="main-content" role="main">
          {% block content %}
            {% include 'flash_messages.html' %}
            {% block platform_admin_content %}{% endblock %}
          {% endblock %}
        </main>
      </div>
    </div>
  </div>

{% endblock %}
