{% extends "base.html" %}

{% set page_title = "Clear Goals" %}

{% block per_page_title %}
{{page_title}}
{% endblock %}

{% block content_column_content %}
{% with title=page_title %}{% include "components/guidance/nav_breadcrumb.html" %}{% endwith %}
<section class="usa-prose">
  <h1>Establish clear goals</h1>
  <p class="usa-intro text-base">Start with a singular purpose. Make explicit what you want to achieve.</p>
  <p>Text messaging should be one part of how you communicate with the people you serve, and it is best used to provoke
    action or influence behavior. Therefore, when starting to plan your texting campaign, it’s important to start with
    the end in mind.
  </p>
  <div class="usa-summary-box" role="region" aria-labelledby="summary-box-key-information">
    <div class="usa-summary-box__body">
      <h4 class="usa-summary-box__heading" id="summary-box-key-information">
        To establish clear goals, start by answering the following questions:
      </h4>
      <div class="usa-summary-box__text">
        <ul class="usa-list">
          <li><i>Who</i> do you want to text?</li>
          <li><i>At what moments</i> do you want to text them?</li>
          <li><i>Why</i> do you want to text them?</li>
          <li>What do you want them to <i>do</i>?</li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center">For example, we’ve seen SNAP programs text –</p>
  <p>Dept. of Human Services: We believe your EBT card may have been used by someone else. Please call the number on the
    back of your card (888-123-5555) to cancel and get a new one. If you need a new card immediately, please visit your
    local office.</p>
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col">
      <p class="border-top-1px border-base-light padding-top-1 margin-top-0"><b>Use texting to</b> share timely information, provide critical status updates, or remind someone to do something.</p>
      {% set list_item_dos = [
        {
        "list_content": "Your application is due on…",
        },
        {
        "list_content": "We need more information from you to process your application for…",
        },
        {
        "list_content": "We will be calling you about…at…",
        },
        {
        "list_content": "We will be calling you about…at…",
        },
      ] %}
      <p class="margin-bottom-2">Examples:</p>
      <ul class="usa-icon-list">
        {% for item in list_item_dos %}
        <li class="usa-icon-list__item">
          <img src="{{ asset_url('img/usa-icons/check_circle.svg') }}" role="img" alt="check circle"/>
          <div class="usa-icon-list__content">
            {{item.list_content}}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="tablet:grid-col">
      <p class="border-top-1px border-base-light padding-top-1 margin-top-0">Texting is <b>not great for</b> long, detailed instructions or frequent reminders that may be ignored.
      </p>
      <p class="margin-bottom-2">Examples:</p>
      {% set list_item_donts = [
        {
        "list_content": "Your rights and responsibilities",
        },
        {
        "list_content": "How to complete your application",
        },
        {
        "list_content": "Weekly reminder not to share your account information",
        },
      ] %}
      <ul class="usa-icon-list usa-icon-list--primary">
        {% for item in list_item_donts %}
        <li class="usa-icon-list__item">
          <img src="{{ asset_url('img/usa-icons/cancel.svg') }}" role="img" alt="cancel circle"/>
          <div class="usa-icon-list__content">{{item.list_content}}</div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <p>Your program may already be communicating with your audience through methods like mailed notices and phone calls. Think of text messages as complementary to your existing communications. Review how well you are currently reaching your audience. Are there methods or gaps that could be supplemented with a text message?
  </p>
  <p>
    The Department of Veterans Affairs provides a <a
      href="https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/va-notify/notification-guide.md#vanotify-notification-guide"
      target="_blank">helpful
      flow-chart</a> that can help you decide if a text message is needed
    for the communication problem you are trying to solve.
  </p>
  <h2>Use a hypothesis framework to plan your campaign</h2>
  <p>
    Think of your texting campaign as a scientific experiment, and try to articulate what you hope to improve as a
    result
    of implementing text messaging at your agency. For example:
  </p>

  <ul list list-bullet>
    <li>
      We believe that texting [specific group of people] when [this happens or on this cadence] to inform/alert them
      about
      [subject] will result in [desired action].
    </li>
  </ul>

  <p>
    Review your drafted hypothesis with your team to make sure everyone is aligned on your desired goals. A clear and
    concise hypothesis can help you decide how to <a href="#Write-texts-that-provoke-action">write text message content
      that provokes action</a>.
  </p>
  <h2>Start small</h2>
  <p>
    To help you decide how much to invest in text messaging over time, we highly recommend starting small and testing
    your
    message campaigns to refine based on feedback and evidence.
  </p>
  <p>
    Starting small has less risk and more flexibility. It can help you gather data and decide <i>if and how</i> to send
    more text messages. For example, start by sending one message to a smaller sample of your audience and track their
    resulting behavior.
  </p>
  <p>
    At a minimum, make sure to get feedback on your message content from staff, community-based organizations, and,
    ideally, from people who receive the texts themselves to ensure your messages are clear and actionable.
  </p>
  <h2>Measure performance</h2>
  <p>
    Building and operationalizing a texting initiative requires time and effort, and you want to be able to demonstrate
    the results of that effort. To understand if your texting program is successful, ask:
  </p>
  {% set list_performance_dos = [
    {
    "list_content": "What do you want to be <i>different</i> for your program or your desired audience after a text message is sent,
      as
      compared to your current state?",
    },
    {
    "list_content": "How will you <i>know</i> if text recipients take the desired action?",
    },
    {
    "list_content": "Do you have access to existing data in your system that you could use to determine whether texting is giving you
      the results you want?",
    },
  ] %}
  <ul class="usa-icon-list usa-icon-list--primary">
    {% for item in list_performance_dos %}
    <li class="usa-icon-list__item">
      <img src="{{ asset_url('img/usa-icons/check_circle.svg') }}" role="img" alt="check circle"/>
      <div class="usa-icon-list__content">{{item.list_content |safe}}</div>
    </li>
    {% endfor %}
  </ul>
</section>


{% endblock %}
