{% extends "base.html" %}

{% set page_title = "Establish Trust" %}

{% block per_page_title %}
{{page_title}}
{% endblock %}

{% block content_column_content %}
{% with title=page_title %}{% include "components/guidance/nav_breadcrumb.html" %}{% endwith %}
<section class="usa-prose">
  <h1 id="guidance-h1" class="font-body-2xl margin-bottom-3">Establish Trust</h1>
  <p class="usa-intro text-base">Help your audience anticipate and welcome your texts.</p>
  <p>
    People are wary of texts they’re not expecting to receive. Before you send your first text, consider how you will
    gain trust with your audience and address any concerns of spam. Seize specific moments to reinforce what your
    audience should expect from your messages.
  </p>
  <h2 id="get-the-word-out">Get the word out</h2>
  <p>Before you launch, let your audience know you are adding texting as a communication method. People are more likely
    to trust your text once they get it if they know that your program is sending texts.</p>

  <p>How you currently communicate with your audience will determine the best approaches to announce your new
    initiative. Harness channels you’re already using like social media, public websites, mailing inserts, or fliers at
    key service locations as well as partnering with community organizations to get the word out about your new texting
    program.</p>
  <h3>An example of key messages in direct mail</h3>
  <h1>image goes here</h1>
  <h3>Prime your audiences to trust you</h3>
  <p>To reinforce legitimacy, include these key messages in your outreach:</p>
  <ol>
    <li><b>Introduce yourself</b> – Give people time to get to know your texting communications before you need direct
      action from them</li>
    <li><b>Phone number</b> – Note the sending phone number your texts will come from</li>
    <li><b>Text types</b> – Be clear on the types of texts you intend to send, how often, and why they matter</li>
    <li><b>Privacy policy</b>– For example, state that you will not collect personal information, including the types of
      information you will never ask for</li>
    <li><b>Places to verif</b>y – Include a phone number, website, or human where people can verify that the texts are
      coming from you</li>
    <li><b>Opt out</b> – Provide opt-out instructions and a disclaimer for the potential cost of receiving the text</li>
  </ol>

  <p class="text-center">Write an introductory text before you start sending messages:</p>
  <p>Department of Social Services: Welcome to text updates from the (1) <b>State Department of Social Services.</b> (2)
    <b>We’ll always text you from this number,</b> save us to your contact list. Our goal is to (3) <b>keep you up to
      date on your account status.</b> (4) <b>We will never ask for personal details in a text.</b> (5) If you have
    questions about how we protect your privacy, see state.gov/privacy. (6) <b>Reply STOP to stop.</b>
  </p>
  <h2 id="as-people-receive-texts">As people receive texts</h2>
  <p>When a person has questions or needs assistance, reaching out for support may be natural for them. Give direction
    in your texts so your audience understands what to do with the information you provide. Remember, it’s important to
    repeat consistent and standardized language across texts and programs.</p>
  <h3>Be trustworthy</h3>
  <ol start="7">
    <li>Identify yourself in the text message. Use a consistent and familiar program name to precede each text you
      send.</li>
    <li>Personalize with First name. Through A/B testing, Code for America saw an increase in follow-through by 25%
      if someone’s first name was included.</li>
    <li>Use full and direct .gov website URLs. Avoid link shorteners, as they obscure your links and potentially make
      it easier for a malicious actor to spoof your text.</li>
    <li>If providing a phone number, use a familiar phone number and provide information on how to verify its
      legitimacy.</li>
  </ol>

  <p class="text-center">For example, we’ve seen Medicaid programs use trust-markers in renewal texts –</p>
  <p>
    (7)<b>Dept of Social Services:</b> Hi (8)<b>Julie,</b> Your Medicaid renewal is closing December 31, 2023. You can
    renew online at
    (9)<a href="https://www.application.yourstate.gov" target="_blank"
      rel="application.yourstate.gov">https://www.application.yourstate.gov</a> or (10) <b>call the number on the
      back</b>
    of
    your Medicaid card.
  </p>
  <h3>Provide helpful auto-responses</h3>
  <ol start="11">
    <li>Provide a way to contact a human in any auto-response text</li>
    <li>Provide information on how to opt out and opt back in</li>
  </ol>

  <p class="text-center">Don’t forget about using auto-response text</p>

  <p>
    Dept of Social Services: This number is unmonitored. To (11) <b>contact us, call 888-123-4567</b>. We will never ask
    for
    personal details in a text. If you have questions about how to protect your privacy, see state.gov/privacy (12)
    <b>Reply “STOP”</b> to this phone number to opt out of receiving texts, and “START” to opt back in.
  </p>
  <h2>Be prepared for questions</h2>
  <p>
    Your texting program will only be perceived as legitimate if you get the word out in many different ways. It's also
    important that agency employees who support text recipients (for example, the call center) are familiar with the
    texting program. They can accurately respond to recipient questions about them, so make sure you’re priming your
    delivery staff, especially those who interact directly with your intended audience.
  </p>

  <p class="text-bold">Harness trusted communication channels</p>
  <p class="text-bold">Websites</p>
  <p>
    Post banner alerts about texting on your agency website, and link to a press release for more information. Publish a
    public texting privacy policy.
  </p>

  <p class="text-bold">Community organizations</p>
  <p>
    Alert trusted community-based organizations that texts are coming and what they look like.
    Equip them with fliers, posters, and talking points to spread the word.
  </p>

  <p class="text-bold">IVR / Call Centers</p>
  <p>Consider adding hold message announcements about your texting initiative to further get the word out.</p>

  <p class="text-bold">Prepare your team</p>
  <p class="text-bold">Staff</p>
  <p>
    Give all staff a heads-up about texts before and when they are sent.
    Share talking points on what texts you’re sending, when you’ll start to send them, the phone number they are coming
    from, and where staff can escalate any issues.
  </p>
  <p class="text-bold">Case management systems</p>
  <p>
    When it makes sense, include information about texts being sent to specific clients on individual splash pages or
    within case management notes.
  </p>


</section>


{% endblock %}
