<h3 class="padding-bottom-2">{{card_header}}</h3>
<ul class="usa-card-group">
  {% for item in card_contents %}
  <li class="usa-card grid-col tablet:grid-col-4">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h4 class="usa-card__heading text-center">{{item.card_heading}}</h4>
      </div>
      <div class="usa-card__media usa-card__media--inset">
        <img class="guidance_card_img" src="{{item.image_src}}" alt="{{item.card_heading}} image" />
      </div>
      <div class="usa-card__body">
        <p class="text-center">
          {{item.p_text}}
        </p>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
