{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/table.html" import list_table, field, text_field, index_field, hidden_field_heading %}
{% from "components/page-header.html" import page_header %}
{% from "components/components/button/macro.njk" import usaButton %}
{% from "components/components/skip-link/macro.njk" import usaSkipLink %}
{% from "components/components/back-link/macro.njk" import usaBackLink %}

{% set file_contents_header_id = 'file-preview' %}

{% block service_page_title %}
  {{ "Preview of {}".format(template.name) }}
{% endblock %}


{% block backLink %}
  {{ usaBackLink({ "href": back_link_from_preview }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Preview') }}
  <h2 id="{{ file_contents_header_id }}">Message</h2>
  {% if scheduled_for %}
    <p class="sms-message-sender">Time: {{scheduled_for}}</p>
  {% endif %}
  <p class="sms-message-sender">File: {{original_file_name}}</p>
  {{ template|string }}
  <div class="bottom-gutter-3-2">
    <form method="post" enctype="multipart/form-data" action="{{url_for('main.start_job', service_id=current_service.id, upload_id=upload_id)}}" class='page-footer'>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {% if not request.args.from_test %}
      <h2 class="font-body-lg">Preview list</h2>
      <ul class="usa-icon-list">
        <li class="usa-icon-list__item">
          <div class="usa-icon-list__icon" >
            <img src="{{ url_for('static', filename='img/material-icons/description.svg') }}" alt="Description Icon">
          </div>
          <div class="usa-icon-list__content">
            <h3 id="{{ file_contents_header_id }}">{{ original_file_name }}</h3>
          </div>
        </li>
      </ul>
      <div>
        {% call(item, row_number) list_table(
          recipients.displayed_rows,
          caption=original_file_name,
          caption_visible=False,
          field_headings=recipients.column_headers
        ) %}
          {% for column in recipients.column_headers %}
            {% if item[column].ignore %}
              {{ text_field(item[column].data or '', status='default') }}
            {% else %}
              {{ text_field(item[column].data or '') }}
            {% endif %}
          {% endfor %}
          {% if item[None].data %}
            {% for column in item[None].data %}
              {{ text_field(column, status='default') }}
            {% endfor %}
          {% endif %}
        {% endcall %}
      </div>
      {% endif %}
      <p>Placeholder: This message will be delivered to <b>400 phone numbers</b> and will use a total of <b>800</b> message parts, leaving Washington DSHS with <b>249,200</b> message parts remaining.</p>
      <h3>Does everything look good?</h3>
      {% set button_text %}
        Send
      {% endset %}
      {{ usaButton({ "text": button_text }) }}

    </form>
  </div>
{% endblock %}
