{% from "components/components/inset-text/macro.njk" import usaInsetText %}

<h3 class="usa-accordion__heading">
  <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="personalization">
    Personalization
  </button>
</h3>
<div id="personalization" class="usa-accordion__content usa-prose">
  <p class="bottom-gutter-1-3">
    Use double brackets to personalize your message:
  </p>
  {{ usaInsetText({
    "text": "Hello ((first name)), your reference is ((ref number))",
    "classes": ""})
  }}
</div>

