<div class="usa-alert usa-alert--error" role="alert">
  <div class="usa-alert__body">
    <h1 class="usa-alert__heading">
      You cannot send to
      {{ 'this' if count_of_recipients == 1 else 'these' }}
      {{ template_type_label }}
      {%- if count_of_recipients != 1 -%}
      {{ 'es' if 'email address' == template_type_label else 's' }}
      {%- endif %}
    </h1>
    <p class="usa-alert__text">
      In <a class="usa-link" href="{{ url_for('.trial_mode_new') }}">trial mode</a> you can only
      send to yourself and members of your team
    </p>
  </div>
</div>
