{% extends "withoutnav_template.html" %}
{% block per_page_title %}Sorry, there’s a problem with the service{% endblock %}
{% block maincolumn_content %}
  <div class="grid-row">
    <div class="grid-col-8">
      <h1 class="heading-large">
        Sorry, there’s a problem with Notify.gov
      </h1>
      <p class="usa-body">
        Try again later.
      </p>
      <!-- <p class="usa-body">
        You can check our <a class="usa-link" href="https://status.notifications.service.gov.uk">system status</a> page to see if there are any known issues.
      </p> -->
      <p class="usa-body">
        To report a problem, please email <a class="usa-link" href="mailto:notify-support@gsa.gov">notify-support@gsa.gov</a>.
      </p>
    </div>
  </div>
{% endblock %}
