  <section class="grid-container usa-section margin-top-5 margin-bottom-5">
  <div class="grid-row flex-justify-center">
    <div class="desktop:grid-col-3 tablet:grid-col-4 mobile:grid-col-12 flex-align-center">
      <img
      class="width-tablet tablet:width-full"
      src="{{ asset_url('images/api-error.svg') }}"
      alt="Mobile phone showing error screen"/>
    </div>
    <div class="desktop:grid-col-6 tablet:grid-col-12 padding-left-0 desktop:padding-left-5">
      <h1 class="font-body-3xl line-height-sans-2 text-bold">
        There's currently a technical issue.
      </h1>
      <p class="font-body-lg line-height-sans-2">Thank you for your patience while we work on it. Notify will be back soon.</p>
    </div>
  </div>
  </div>
  </section>
