
<div class="ajax-block-container">
  {% set field_status = notification.status|format_notification_status_as_field_status(notification.notification_type) %}
  {% set status_url = notification.status|format_notification_status_as_url(notification.notification_type) %}
  <p class="notification-status {{ field_status }}">
    {% if status_url %}
      <a class="govuk-link govuk-link--destructive" href="{{ status_url }}">
    {% endif %}

    {% if notification.status != 'sending' %}
    {{ notification.status|format_notification_status(
      notification.template.template_type
    ) }}
    {% endif %}

    {% if notification.status == 'sending' %}
  <p class="notification-status {{ field_status }}">
     Pending. It will take up to 5 minutes to receive the carrier's response.
     </p>
    {% endif %}
    {% if status_url %}
      </a>
    {% endif %}
    {% if sent_with_test_key %}
      (test)
    {% endif %}
  </p>

</div>
