@use 'uswds-core' as *;

.usa-header--extended .usa-logo {
  font-family: family('sans');
  margin: units(3) 0;

  @include at-media-max('desktop') {
    margin: units(4) 0 units(4) units(2);
  }

  a {
    display: flex;

    img {
      height: 35px;

      @include at-media('desktop') {
        height: 60px;
      }
    }
  }
}
