{% from "components/banner.html" import banner_wrapper %}

{% call banner_wrapper(type='tour') %}
    <p class="font-heading-lg">Try sending yourself this example</p>
    <div class="grid-row margin-bottom-3 {% if help != '1' %}greyed-out-step{% endif %}">
      <div class="grid-col-2">
        <p class="font-heading-xl">1.</p>
      </div>
      <div class="grid-col-10">
        <p class="usa-body">
          Every message is sent from a template
        </p>
      </div>
    </div>
    <div class="grid-row margin-bottom-3 {% if help != '2' %}greyed-out-step{% endif %}">
      <div class="grid-col-2">
        <p class="font-heading-xl">2.</p>
      </div>
      <div class="grid-col-10">
        <p class="usa-body">
          The template pulls in the data you provide
        </p>
      </div>
    </div>
    <div class="grid-row margin-bottom-3 {% if help != '3' %}greyed-out-step{% endif %}">
      <div class="grid-col-2">
        <p class="font-heading-xl">3.</p>
      </div>
      <div class="grid-col-10">
        <p class="usa-body">
          Notify delivers the message
        </p>
        {% if help == '3' %}
          <a class="usa-link" href='{{ url_for(".go_to_dashboard_after_tour", service_id=current_service.id, example_template_id=template.id) }}'>
            Now go to your dashboard
          </a>
        {% endif %}
      </div>
    </div>
{% endcall %}
