{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/components/back-link/macro.njk" import usaBackLink %}

{% block service_page_title %}
  Sign-in method
{% endblock %}

{% block backLink %}
  {{ usaBackLink({ "href": url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="grid-col-10">
      {{ page_header('Sign-in method') }}
      <p>Your username, password, and multi-factor authentication options are handled by Login.gov.</p>
      <p>To make changes, head to <a href="https://login.gov/">Login.gov</a> and sign-in with your credentials.</p>
      <p>Any changes made to your Login.gov account will automatically be synced with Notify.gov.</p>
    </div>
  </div>

{% endblock %}
