{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/components/back-link/macro.njk" import usaBackLink %}

{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block backLink %}
  {{ usaBackLink({ "href": url_for('.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(title) }}

  <div class="grid-row">
    <div class="grid-col-10">
      {% call form_wrapper(data_force_focus=True) %}
        {{ form.enabled() }}
        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
