<div class="ajax-block-container">
  <p class='bottom-gutter'>
    {% if job.scheduled_for %}
      {% if job.processing_started %}
      <div class="usa-alert usa-alert--success">
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">{{ job.template_name }} - {{ current_service.name }}</h4>
          <p class="usa-alert__text">
            Was sent on {{ job.created_at|format_datetime_short_12h }} by {{ job.created_by.name }}
          </p>
        </div>
      </div>
      {% else %}
        <div class="usa-alert usa-alert--info">
          <div class="usa-alert__body">
            <h4 class="usa-alert__heading">{{ job.template_name }} - {{ current_service.name }}</h4>
            <p class="usa-alert__text">
              Was scheduled on {{ job.scheduled_for|format_datetime_short_12h }} by {{ job.created_by.name }}
            </p>
          </div>
        </div>
      {% endif %}
   {% else %}
      <div class="usa-alert usa-alert--success">
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">{{ job.template_name }} - {{ current_service.name }}</h4>
          <p class="usa-alert__text">
            Was sent on {{ job.created_at|format_datetime_short_12h }} by {{ job.created_by.name }}
          </p>
        </div>
      </div>
    {% endif %}
  </p>
  {% if job.status == 'sending limits exceeded'%}
    <p class="usa-error-message">
        Notify cannot send these messages because you have reached a limit. You can only send {{ current_service.message_limit|format_thousands }} messages per day and {{ 250000|format_thousands }} messages in total.
    </p>
    <p class="usa-error-message">
        Upload this spreadsheet again tomorrow or <a class="usa-link" href="https://www.notifications.service.gov.uk/support">contact the Notify.gov team</a> to raise the limit.
    </p>
    {% endif %}
</div>
