{%- if params.slim %}
<div class="usa-alert usa-alert--slim usa-alert--{{params.type}} {%- if params.classes %} {{ params.classes }}{% endif %}" {%- if params.id %} id="{{ params.id }}"{% endif %}>
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      {{params.text}}
    </p>
  </div>
</div>
{% else %}
<div class="usa-alert usa-alert--{{params.type}} {%- if params.classes %} {{ params.classes }}{% endif %}" {%- if params.id %} id="{{ params.id }}"{% endif %}>
  <div class="usa-alert__body">
    <h{{params.header_level}} class="usa-alert__heading">{{params.heading}}</h{{params.header_level}}>
    <p class="usa-alert__text">
      {{params.text | safe }}
    </p>
  </div>
</div>
{% endif %} 
