{% extends "withoutnav_template.html" %}
{% from "components/sub-navigation.html" import sub_navigation %}
{% from "components/page-header.html" import page_header %}

{% block per_page_title %}
  {{ content_page_title }}
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">

    {% if navigation_links %}
      <div class="tablet:grid-col-2">
        {{ sub_navigation(navigation_links) }}
      </div>
      <div class="tablet:grid-col-10 padding-left-4 sub-content">
    {% else %}
      <div class="tablet:grid-col-12">
    {% endif %}

    {% block content_column_content %}
    {% endblock %}

    </div>
  </div>

{% endblock %}
