{% extends "admin_template.html" %}

{% block per_page_title %}
  {% block org_page_title %}{% endblock %} – {{ current_org.name }}
{% endblock %}

{% block main %}
  <div class="grid-container">
    <div class="navigation-service usa-breadcrumb">
      {% if current_user.platform_admin %}
        <a href="{{ url_for('.organizations') }}" class="usa-link navigation-organization-link">Organizations</a>
      {% endif %}
      <div class="navigation-service">
        {{ current_org.name }}
      </div>
      <a href="{{ url_for('main.choose_account') }}" class="usa-link navigation-service">Switch service</a>
    </div>
    <div class="grid-row">
      <div class="grid-col-3">
        {% include "org_nav.html" %}
      </div>
      <div class="grid-col-9">
        {% block beforeContent %}
          {% block backLink %}{% endblock %}
        {% endblock %}
        <main class="main" id="main-content" role="main" >
          {% block content %}
            {% include 'flash_messages.html' %}
            {% block maincolumn_content %}{% endblock %}
          {% endblock %}
        </main>
      </div>
    </div>
  </div>
{% endblock %}
