{% macro navigation_service_name(service) %}
  <div class="navigation-service font-body-2xl bold">
    {{ service.name }}
    {% if not service.active %}
      <span class="navigation-service-name navigation-service-type--suspended">Suspended</span>
    {% endif %}
  </div>
{% endmacro %}

<div class="navigation-service margin-top-2 display-flex flex-align-end flex-justify">
  {% if current_service.organization_id %}
    {% if current_user.platform_admin or
      (current_user.belongs_to_organization(current_service.organization_id) and current_service.live) %}
      <a href="{{ url_for('.organization_dashboard', org_id=current_service.organization_id) }}" class="usa-link navigation-organization-link">{{ current_service.organization_name }}</a>
    {% endif %}
  {% endif %}
  {{ navigation_service_name(current_service) }}
  <a href="{{ url_for('main.choose_account') }}" class="usa-link margin-bottom-2">Switch service</a>
</div>
