{% extends "base.html" %}

{% block per_page_title %}{% if current_org.name %}{% block org_page_title %}{% endblock %} – {{ current_org.name }}{%
  else %}{% block service_page_title %}{% endblock %} – {{ current_service.name }}{% endif %}{% endblock %}

{% block main %}
  <div class="grid-container">
    {% block serviceNavigation %}
      {% if current_org.name %}
      {% else %}
          {% include "components/service_nav.html" %}
      {% endif %}
    {% endblock %}
    {% if current_org.name %}
      {% block orgNavBreadcrumb %}{% include "components/org_nav_breadcrumb.html" %}{% endblock %}
    {% endif %}
    <div class="grid-row margin-top-5">
      <div class="tablet:grid-col-2">
        {% block sideNavigation %}
          {% if current_org.name %}
            {% include "components/org_nav.html" %}
          {% else %}
            {% include "components/main_nav.html" %}
          {% endif %}
        {% endblock %}
      </div>
      <div class="tablet:grid-col-10 tablet:padding-left-4">
        {% block beforeContent %}
          {% block backLink %}{% endblock %}
        {% endblock %}
        <main id="main-content" role="main" class="usa-prose site-prose margin-bottom-10">
        {% block content %}
          {% include 'components/flash_messages.html' %}
          {% block maincolumn_content %}{% endblock %}
        {% endblock %}
        </main>
      </div>
    </div>
  </div>
{% endblock %}
